<template>
  <v-container id="activities-scheme" tag="section">

    <material-card :color="accentColor" icon="mdi-security" :title="currentTitle" inline>
      <v-card-text>
        <v-window touchless v-model="step">
          <v-window-item :value="1">
            <ProgramTable @onEdit="onEdit">
              <template v-slot:header>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info"
                             v-if="$auth.can( $auth.permissions.schema_activities[0] )"
                             v-on="on"
                             class="mr-2 my-2"
                             @click="onCreate(1)"
                             :loading="isLoading"
                             :disabled="isLoading"
                             fab
                             small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Create')}}</span>
                  </v-tooltip>
                </template>
            </ProgramTable>
          </v-window-item>
          <v-window-item :value="2">
            <ActivityTable @onEdit="onEdit">
              <template v-slot:header>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info"
                             v-if="$auth.can( $auth.permissions.schema_activities[4] )"
                             v-on="on"
                             class="mr-2 my-2"
                             @click="onCreate(2)"
                             :loading="isLoading"
                             :disabled="isLoading"
                             fab
                             small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Create')}}</span>
                  </v-tooltip>
                </template>
            </ActivityTable>
          </v-window-item>
          <v-window-item :value="3">
            <SubActivityTable @onEdit="onEdit">
              <template v-slot:header>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info"
                             v-if="$auth.can( $auth.permissions.schema_activities[8] )"
                             v-on="on"
                             class="mr-2 my-2"
                             @click="onCreate(3)"
                             :loading="isLoading"
                             :disabled="isLoading"
                             fab
                             small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Create')}}</span>
                  </v-tooltip>
                </template>
            </SubActivityTable>
          </v-window-item>
          <v-window-item :value="4">
            <ThematicTable @onEdit="onEdit">
              <template v-slot:header>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info"
                             v-if="$auth.can( $auth.permissions.schema_activities[12] )"
                             v-on="on"
                             class="mr-2 my-2"
                             @click="onCreate(4)"
                             :loading="isLoading"
                             :disabled="isLoading"
                             fab
                             small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Create')}}</span>
                  </v-tooltip>
                </template>
            </ThematicTable>
          </v-window-item>
          <v-window-item :value="5">
            <ComponentTable @onEdit="onEdit">
              <template v-slot:header>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info"
                             v-if="$auth.can( $auth.permissions.schema_activities[16] )"
                             v-on="on"
                             class="mr-2 my-2"
                             @click="onCreate(5)"
                             :loading="isLoading"
                             :disabled="isLoading"
                             fab
                             small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Create')}}</span>
                  </v-tooltip>
                </template>
            </ComponentTable>
          </v-window-item>
          <v-window-item :value="6">
            <StrategyTable @onEdit="onEdit">
              <template v-slot:header>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info"
                             v-if="$auth.can( $auth.permissions.schema_activities[20] )"
                             v-on="on"
                             class="mr-2 my-2"
                             @click="onCreate(6)"
                             :loading="isLoading"
                             :disabled="isLoading"
                             fab
                             small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Create')}}</span>
                  </v-tooltip>
                </template>
            </StrategyTable>
          </v-window-item>
        </v-window>
      </v-card-text>
      <v-card-actions>
        <v-btn
          v-if="step !== 1"
          text
          @click="step--"
        >
          {{ $t('Core.Back') }}
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="step !== 6"
          color="primary"
          depressed
          @click="step++"
        >
          {{ $t('Core.Next') }}
        </v-btn>
      </v-card-actions>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ currentTitle }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose(step)">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <ProgramForm v-show="step === 1" :data="program"></ProgramForm>
          <ActivityForm v-show="step === 2" :data="activity"></ActivityForm>
          <SubActivityForm v-show="step === 3" :data="sub_activity"></SubActivityForm>
          <ThematicForm v-show="step === 4" :data="thematic"></ThematicForm>
          <ComponentForm v-show="step === 5" :data="component"></ComponentForm>
          <StrategiesForm v-show="step === 6" :data="strategy"></StrategiesForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {Program} from "@/models/services/Scheme/Program";
  import {Activity} from "@/models/services/Scheme/Activity";
  import {SubActivity} from "@/models/services/Scheme/SubActivity";
  import {Thematic} from "@/models/services/Scheme/Thematic";
  import {Component} from "@/models/services/Scheme/Component";
  import {Strategy} from "@/models/services/Scheme/Strategy";

  export default {
    name: "ActivitiesScheme",
    components: {
      ProgramForm: () => import('@/views/dashboard/Forms/Schema/ProgramForm'),
      ActivityForm: () => import('@/views/dashboard/Forms/Schema/ActivityForm'),
      SubActivityForm: () => import('@/views/dashboard/Forms/Schema/SubActivityForm'),
      ThematicForm: () => import('@/views/dashboard/Forms/Schema/ThematicForm'),
      ComponentForm: () => import('@/views/dashboard/Forms/Schema/ComponentForm'),
      StrategiesForm: () => import('@/views/dashboard/Forms/Schema/StrategyForm'),

      ProgramTable: () => import("@/views/dashboard/Tables/Schema/ProgramsTable"),
      ActivityTable: () => import("@/views/dashboard/Tables/Schema/ActivitiesTable"),
      SubActivityTable: () => import("@/views/dashboard/Tables/Schema/SubActivityTable"),
      ThematicTable: () => import("@/views/dashboard/Tables/Schema/ThematicTable"),
      ComponentTable: () => import("@/views/dashboard/Tables/Schema/ComponentTable"),
      StrategyTable: () => import("@/views/dashboard/Tables/Schema/StrategyTable"),
    },
    data: () => ({
      step: 1,
      program: new Program().data(),
      activity: new Activity().data(),
      sub_activity: new SubActivity().data(),
      thematic: new Thematic().data(),
      component: new Component().data(),
      strategy: new Strategy().data(),
      title: 'Core.Create',
      dialog: false
    }),
    methods: {
      onCreate: function (step) {
        switch (step) {
          case 1: this.step = step; this.dialog = true;
            break;
          case 2: this.step = step; this.dialog = true;
            break;
          case 3: this.step = step; this.dialog = true;
            break;
          case 4: this.step = step; this.dialog = true;
            break;
          case 5: this.step = step; this.dialog = true;
            break;
          case 6: this.step = step; this.dialog = true;
            break;
        }
      },
      onEdit: function (data, form) {
        switch (form) {
          case 1: this.setForm( 'program', data, new Program().data(), form );
            break;
          case 2: this.setForm( 'activity', data, new Activity().data(), form );
            break;
          case 3: this.setForm( 'sub_activity', data, new SubActivity().data(), form );
            break;
          case 4: this.setForm( 'thematic', data, new Thematic().data(), form );
            break;
          case 5: this.setForm( 'component', data, new Component().data(), form );
            break;
          case 6: this.setForm( 'strategy', data, new Strategy().data(), form );
            break;
        }
      },
      onClose: function (form) {
        switch (form) {
          case 1: this.unsetForm( 'program', new Program().data() );
            break;
          case 2: this.unsetForm( 'activity', new Activity().data() );
            break;
          case 3: this.unsetForm( 'sub_activity', new SubActivity().data() );
            break;
          case 4: this.unsetForm( 'thematic', new Thematic().data() );
            break;
          case 5: this.unsetForm( 'component', new Component().data() );
            break;
          case 6: this.unsetForm( 'strategy', new Strategy().data() );
            break;
        }
      },
      unsetForm: function (form, model) {
        this.dialog = false;
        this[form] = model;
        this.title = 'Core.Create';
      },
      setForm: function (form, data, model, step) {
        const open = () => {
          this[form] = data;
          this.title = 'Core.Edit';
          this.step = step;
          setTimeout(() => this.dialog = true, 10)
        };

        if (this.dialog) {
          this.unsetForm( form, model );
          setTimeout(open, 10)
        } else {
          open()
        }
      },
    },
    computed: {
      currentTitle () {
        switch (this.step) {
          case 1: return this.$t('Dashboard.Programs');
          case 2: return this.$t('Dashboard.Activities');
          case 3: return this.$t('Dashboard.SubActivities');
          case 4: return this.$t('Dashboard.Thematics');
          case 5: return this.$t('Dashboard.Components');
          case 6: return this.$t('Dashboard.Strategies');
          default: return this.$t('Dashboard.Programs');
        }
      },
      componentName () {
        switch (this.step) {
          case 1: 'ProgramForm';
          case 2: 'ActivityForm';
          case 3: 'SubActivityForm';
          case 4: 'ThematicForm';
          case 5: 'ComponentForm';
          case 6: 'StrategiesForm';
          default: return 'ProgramForm';
        }
      },
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
  }
</script>

<style scoped>

</style>
