<template>
  <v-container id="assign-roles" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.AssignRoles')" inline>
      <v-card-text>
        <AssignRolesForm></AssignRolesForm>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "AssignRoles",
    components: {
      AssignRolesForm: () => import('@/views/dashboard/Forms/Security/AssignRolesForm')
    }
  }
</script>

<style scoped>

</style>