<template>
  <v-container id="assign-permissions" tag="section">
    <material-card :color="accentColor" icon="mdi-playlist-plus" :title="$t('Dashboard.AssignPermissions')" inline>
      <v-card-text>
        <AssignRolePermissionsForm></AssignRolePermissionsForm>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "AssignPermissions",
    components: {
      AssignRolePermissionsForm: () => import('@/views/dashboard/Forms/Security/AssignPermissionsForm')
    }
  }
</script>

<style scoped>

</style>