<template>
  <v-container id="calendar-report" tag="section">
    <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.CalendarAttention')" inline>
      <v-card-text>
        <attention-report></attention-report>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "CalendarAttention",
    components: {
      AttentionReport: () => import("@/views/dashboard/Forms/AttentionCalendarForm")
    }
  }
</script>

<style scoped>

</style>