<template>
  <v-container id="citizen-attention" tag="section">
    <material-card :color="accentColor" icon="mdi-nature-people" :title="$t('Dashboard.CitizenAttention')" inline>
      <loading-event v-if="isLoading"></loading-event>
      <event-details v-else :with-toolbar="false" :event="item"></event-details>
      <v-card-actions v-if="!responsive">
        <v-spacer></v-spacer>
        <v-btn color="success" to="/citizen-attention">
          <v-icon left>
            mdi-arrow-left
          </v-icon> {{$t('Core.Back')}}
        </v-btn>
        <v-btn color="danger" :disabled="isLoading" class="white--text" :loading="isLoading" v-if="item.deleted_at === null &&  item.professional === $user.id" @click="onCancel">
          <v-icon left>
            mdi-close
          </v-icon> {{$t('Core.Cancel')}}
        </v-btn>
        <v-btn color="warning" :disabled="isLoading" :loading="isLoading" v-if="item.deleted_at === null &&  item.professional === $user.id" @click="onReprogram">
          <v-icon left>
            mdi-history
          </v-icon> {{$t('Input.Reprogram').capitalize()}}
        </v-btn>
      </v-card-actions>
    </material-card>

    <cancel-event  :show="cancel_dialog" :on-close="onClose" :form="form" :id="$route.params.id"></cancel-event>
    <reprogram-event :is-attention="true" :show="reprogram_dialog" :on-close="onClose" :form="form" :id="$route.params.id"></reprogram-event>

    <v-speed-dial
      v-if="responsive"
      v-model="fab"
      :disabled="isLoading" :loading="isLoading"
      dark
      fixed
      bottom
      right
      fab
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="info"
          dark
          fab
        >
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-btn color="success" small dark fab to="/citizen-attention">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <v-btn color="red" v-if="item.deleted_at === null &&  item.professional === $user.id"  small dark fab  @click="onCancel">
        <v-icon>
          mdi-close
        </v-icon>
      </v-btn>
      <v-btn color="warning" v-if="item.deleted_at === null &&  item.professional === $user.id"  small dark fab  @click="onReprogram">
        <v-icon>
          mdi-history
        </v-icon>
      </v-btn>
    </v-speed-dial>
  </v-container>
</template>

<script>
  import {CitizenAttention} from "@/models/services/CitizenAttention";

  export default {
    name: "CitizenAttentionDetails",
    components: {
      EventDetails: () => import( "@/views/dashboard/Events/Events" ),
      CancelEvent: () => import('@/views/dashboard/Events/CancelEvent'),
      ReprogramEvent: () => import('@/views/dashboard/Events/ReprogramEvent'),
    },
    props: {
      event: {
        type: Object,
        default: () => ({})
      }
    },
    data: () => ({
      fab: false,
      cancel_dialog: false,
      reprogram_dialog: false,
      item: {},
      form: new CitizenAttention(),
    }),
    created: function () {
      if ( this.$route.params.id ) {
        if ( !this.event.id ) {
          ( new CitizenAttention() ).show( this.$route.params.id )
            .then((response) => {
              this.item = response.data;
              this.item.date = response.data.execution_date;
              this.item.reason = response.data.reason_for_cancellation;
              this.item.working_day = response.data.citizen_attention_schedule_id;
              this.item.schedule = response.data.citizen_attention_schedule;
            })
            .catch(error => {
              if ( error.code === 404 ) {
                this.$router.push({name: 'Error', params: { code: error.code, text: error.message }})
              } else {
                this.notifyOnError( error.message );
              }
            })
        } else {
          this.item = this.event;
          this.item.date = this.event.execution_date;
          this.item.reason = this.event.reason_for_cancellation;
          this.item.working_day = this.event.citizen_attention_schedule_id;
          this.item.schedule = this.event.citizen_attention_schedule;
        }
      } else {
        this.$router.push({name: 'Error'})
      }
    },
    methods: {
      onCancel: function () {
        const open = () => {
          setTimeout(() => this.cancel_dialog = true, 10)
        }
        if (this.cancel_dialog) {
          this.cancel_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onReprogram: function () {
        const open = () => {
          this.form = new CitizenAttention(this.item);
          setTimeout(() => this.reprogram_dialog = true, 10)
        }
        if (this.reprogram_dialog) {
          this.reprogram_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.cancel_dialog = false;
        this.reprogram_dialog = false;
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>