<template>
  <v-container id="citizen-attention" tag="section">
    <material-card>
      <template v-slot:heading>
        <v-tabs
          v-model="tabs"
          background-color="transparent"
          slider-color="white"
        >
          <v-tab :disabled="!item.process_id" class="white--text mr-3">
            <v-icon class="mr-2">
              mdi-playlist-check
            </v-icon>
            {{ $t('Input.Details').capitalize() }}
          </v-tab>
          <v-tab class="white--text mr-3">
            <v-icon class="mr-2">
              mdi-human
            </v-icon>
            {{ $t('Input.Attendance') }}
          </v-tab>
          <v-tab class="white--text mr-3">
            <v-icon class="mr-2">
              mdi-paperclip
            </v-icon>
            {{ $t('Input.Files') }}
          </v-tab>
          <v-tab class="white--text">
            <v-icon class="mr-2">
              mdi-camera
            </v-icon>
            {{ $t('Input.Images') }}
          </v-tab>
          <v-tab class="white--text">
            <v-icon class="mr-2">
              mdi-calendar-text
            </v-icon>
            {{ $t('Input.Commitment') }}
          </v-tab>
        </v-tabs>
      </template>
      <v-tabs-items v-model="tabs" class="transparent">

        <v-tab-item :disabled="!item.process_id">
          <v-card-text>
            <programming-details-form v-if="item.professional === $user.id && !hasActivities" :event="item">
            </programming-details-form>
            <details-table :themes="item.themes" :activities="item.activities"></details-table>
          </v-card-text>
        </v-tab-item>

        <v-tab-item>
          <v-card-text>
            <attendance-table :with-create-btn="item.professional === $user.id"></attendance-table>
          </v-card-text>
        </v-tab-item>

        <v-tab-item>
          <v-card-text>
            <files-table :with-create-btn="item.professional === $user.id"></files-table>
          </v-card-text>
        </v-tab-item>

        <v-tab-item>
          <v-card-text>
            <ImageCarousel :with-create-btn="item.professional === $user.id"></ImageCarousel>
          </v-card-text>
        </v-tab-item>

        <v-tab-item>
          <v-card-text>
            <CommitmentTable :with-create-btn="item.professional === $user.id"></CommitmentTable>
          </v-card-text>
        </v-tab-item>

      </v-tabs-items>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="info" @click="onDetails(item)">
          <v-icon left>
            mdi-arrow-left
          </v-icon> {{$t('Core.Back')}}
        </v-btn>
      </v-card-actions>
    </material-card>
  </v-container>
</template>

<script>
  import {Programming} from "@/models/services/Programming";

  export default {
    name: "Execution",
    props: {
      event: {
        type: Object,
        default: () => ({})
      }
    },
    components: {
      ProgrammingDetailsForm: () => import("@/views/dashboard/Forms/ProgrammingDetailsForm"),

      DetailsTable: () => import("@/views/dashboard/Tables/DetailsTable"),
      ImageCarousel: () => import("@/views/dashboard/Tables/ImageSlider"),
      FilesTable: () => import("@/views/dashboard/Tables/FilesTable"),
      AttendanceTable: () => import("@/views/dashboard/Tables/ExecutionTable"),
      CommitmentTable: () => import("@/views/dashboard/Tables/CommitmentsTable"),
    },
    data: () => ({
      tabs: null,
      e1: null,
      item: {},
      dialog: false,
    }),
    created: function () {
      if ( ! this.event.id ) {
        if ( this.event.deleted_at ) {
          this.$router.push({name: 'Error'})
        } else {
          this.getProgramming();
        }
      } else {
        if ( this.event.deleted_at ) {
          this.$router.push({name: 'Error'})
        } else {
          this.item = this.event;
        }
      }
    },
    mounted: function () {
      this.$bus.$on('refreshExecution', this.getProgramming);
    },
    methods: {
      getProgramming: function () {
        (new Programming()).show( this.$route.params.id )
          .then((response) => {
            this.item = response.data
            if ( this.item.deleted_at ){
              this.$router.push({name: 'Error'})
            }
          })
          .catch(error => {
            if ( error.code === 404 ) {
              this.$router.push({name: 'Error', params: {code: 404, text: error.message}})
            }
            this.notifyOnError( error.message );
          })
      },
      onDetails: function ( event ) {
        this.$router.push({name: 'ProgrammingDetails', params: { id: this.item.id, event: this.item } })
      },
    },
    computed: {
      hasActivities: function () {
        return this.item.hasOwnProperty('activities') && this.item.activities.length > 0
      }
    },
    beforeDestroy() {
      this.$bus.$off('refreshExecution')
    }
  }
</script>

<style scoped>

</style>