<template>
  <v-container id="general-report" tag="section">
    <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.GeneralReport')" inline>
      <v-card-text>
        <general-report-form></general-report-form>
      </v-card-text>
    </material-card>
  </v-container>
</template>

<script>
  export default {
    name: "GeneralReport",
    components: {
      GeneralReportForm: () => import("@/views/dashboard/Forms/GeneralReportForm")
    }
  }
</script>

<style scoped>

</style>