<template>
  <v-container id="locations-scheme" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.Locations')" inline>
      <v-card-text>
        <LocationTable @onEdit="onEdit" @onAddScheme="onAddScheme">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="$auth.can( $auth.permissions.scheme_locations[0] )"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>
          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.scheme_locations[0] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </LocationTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ $t('Dashboard.Locations') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <LocationForm :data="location"></LocationForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {Location} from "@/models/services/Scheme/Location";

  export default {
    name: "LocationScheme",
    components: {
      LocationForm: () => import("@/views/dashboard/Forms/Schema/LocationForm"),
      LocationTable: () => import("@/views/dashboard/Tables/Schema/LocationTable")
    },
    data: () => ({
      location: new Location().data(),
      title: 'Core.Create',
      dialog: false
    }),
    methods: {
      onEdit: function (data) {
        const open = () => {
          this.location = data;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };
        if (this.dialog) {
          this.location = new Location().data();
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.location = new Location().data();
        this.dialog = false;
        this.title = 'Core.Create';
      },
      onAddScheme: function (data) {
        this.$router.push({name: 'UpzScheme', params: { id: data.id, location: data }})
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
  }
</script>

<style scoped>

</style>
