<template>
  <v-container id="neighborhoods-scheme" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.NeighborhoodsScheme')" inline>
      <v-card-text>

        <v-breadcrumbs v-if="!responsive" :items="items">
          <template v-slot:item="props">
            <v-btn text x-small :to="props.item.href" :disabled="props.item.disabled">{{ props.item.text.toUpperCase() }}</v-btn>
          </template>
        </v-breadcrumbs>

        <NeighborhoodsTable @onEdit="onEdit" :upz_id="$route.params.upz_id">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="$auth.can( $auth.permissions.scheme_locations[8] )"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>
          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.scheme_locations[8] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </NeighborhoodsTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ $t('Dashboard.Neighborhood') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <NeighborhoodsForm :upz="resource" :data="form"></NeighborhoodsForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {Neighborhood} from "@/models/services/Scheme/Neighborhood";
  import {Upz} from "@/models/services/Scheme/Upz";

  export default {
    name: "NeighborhoodsScheme",
    props: {
      upz: {
        type: Object,
        default: () => ({})
      }
    },
    components: {
      NeighborhoodsForm: () => import("@/views/dashboard/Forms/Schema/NeighborhoodsForm"),
      NeighborhoodsTable: () => import("@/views/dashboard/Tables/Schema/NeighborhoodsTable")
    },
    created: function () {
      if ( this.upz.hasOwnProperty('name') ) {
        this.upz_name = this.upz.name;
        this.location_name = this.upz.location;
      } else {
        (new Upz()).show( this.$route.params.upz_id )
          .then(response => {
            this.resource = response.data;
            this.upz_name = response.data.name;
            this.location_name = response.data.location;
          })
          .catch(error => this.notifyOnError( error.message ))
      }
    },
    data: vm => ({
      upz_name: null,
      location_name: null,
      resource: vm.upz,
      form: new Neighborhood().data(),
      title: 'Core.Create',
      dialog: false,
    }),
    methods: {
      onEdit: function (data) {
        const open = () => {
          this.form = data;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };
        if (this.dialog) {
          this.form = new Neighborhood().data();
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.form = new Neighborhood().data();
        this.dialog = false;
        this.title = 'Core.Create';
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
      items: function () {
        return [
          {
            text: `${this.$t('Dashboard.Location')}: ${this.location_name}`,
            disabled: false,
            href: { name: 'LocationScheme' }
          },
          {
            text: `${this.$t('Dashboard.Upz')}: ${this.upz_name}`,
            disabled: false,
            href: { name: 'UpzScheme', params: { id: this.$route.params.location_id } }
          },
          {
            text: `${this.$t('Dashboard.Neighborhoods')}`,
            disabled: true,
            href: 'javascript:;'
          },
        ]
      }
    },
  }
</script>

<style scoped>

</style>
