<template>
  <v-container id="permissions" tag="section">
    <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.Permissions')" inline>
      <v-card-text>
        <PermissionsTable @onEdit="onEdit">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-on="on"
                       v-if="$auth.can( $auth.permissions.permissions[0] )"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>
          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.permissions[0] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </PermissionsTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">

      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="mb-0">
          <permissions-form :permission="permission"></permissions-form>
        </v-card-text>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {Permission} from "@/models/services/Security/Permission";

  export default {
    name: "Permissions",
    components: {
      PermissionsForm: () => import('@/views/dashboard/Forms/Security/PermissionForm'),
      PermissionsTable: () => import('@/views/dashboard/Tables/Security/PermissionsTable')
    },
    data: () => ({
      dialog: false,
      permission: new Permission().data(),
      title: 'Core.Create'
    }),
    methods: {
      onEdit: function (permission) {
        const open = () => {
          this.permission = permission;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };

        if (this.dialog) {
          this.dialog = false;
          this.permission = new Permission().data();
          this.title = 'Core.Create';
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.dialog = false;
        this.permission = new Permission().data();
        this.title = 'Core.Create';
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
  }
</script>

<style scoped>

</style>
