<template>
  <v-container id="population-scheme" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.PopulationCharacteristics')" inline>
      <v-card-text>
        <PopulationTable @onEdit="onEdit" @onAddScheme="onAddScheme">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="$auth.can( $auth.permissions.scheme_population[0] )"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>

          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.scheme_population[0] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>

        </PopulationTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ $t('Dashboard.PopulationCharacteristics') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <PopulationForm :data="form"></PopulationForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {PopulationCharacteristic} from "@/models/services/Scheme/PopulationCharacteristic";

  export default {
    name: "PopulationScheme",
    components: {
      PopulationForm: () => import('@/views/dashboard/Forms/Schema/PopulationForm'),
      PopulationTable: () => import("@/views/dashboard/Tables/Schema/PopulationTable"),
    },
    data: () => ({
      form: new PopulationCharacteristic().data(),
      title: 'Core.Create',
      dialog: false
    }),
    methods: {
      onEdit: function (data) {
        const open = () => {
          this.form = data;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };
        if (this.dialog) {
          this.form = new PopulationCharacteristic().data();
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.form = new PopulationCharacteristic().data();
        this.dialog = false;
        this.title = 'Core.Create';
      },
      onAddScheme: function (data) {
        this.$router.push({name: 'SpecificPopulationScheme', params: { id: data.id, population: data }})
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
  }
</script>

<style scoped>

</style>
