<template>
  <v-container id="specific-population-scheme" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.SpecificPopulationScheme')" inline>
      <v-card-text>
        <v-breadcrumbs v-if="!responsive" :items="items">
          <template v-slot:item="props">
            <v-btn text x-small :to="props.item.href" :disabled="props.item.disabled">{{ props.item.text.toUpperCase() }}</v-btn>
          </template>
        </v-breadcrumbs>
        <SpecificPopulationTable @onEdit="onEdit" :population_id="$route.params.id">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="$auth.can( $auth.permissions.scheme_population[4] )"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>

          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.scheme_population[4] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>

        </SpecificPopulationTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ $t('Dashboard.SpecificPopulationScheme') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <SpecificPopulationForm :data="form" :population="resource" ></SpecificPopulationForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {SpecificPopulationCharacteristic} from "@/models/services/Scheme/SpecificPopulationCharacteristic";
  import {PopulationCharacteristic} from "@/models/services/Scheme/PopulationCharacteristic";

  export default {
    name: "SpecificPopulationScheme",
    props: {
      population: {
        type: Object,
        default: () => ({})
      }
    },
    components: {
      SpecificPopulationForm: () => import('@/views/dashboard/Forms/Schema/SpecificPopulationForm'),
      SpecificPopulationTable: () => import("@/views/dashboard/Tables/Schema/SpecificPopulationTable"),
    },
    data: vm => ({
      resource: vm.population,
      form: new SpecificPopulationCharacteristic().data(),
      title: 'Core.Create',
      dialog: false
    }),
    created: function () {
      if ( ! this.population.hasOwnProperty('name') ) {
        (new PopulationCharacteristic()).show( this.$route.params.id )
          .then(response => {
            this.resource = response.data;
          })
          .catch(error => this.notifyOnError( error.message ))
      }
    },
    methods: {
      onEdit: function (data) {
        const open = () => {
          this.form = data;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };
        if (this.dialog) {
          this.form = new SpecificPopulationCharacteristic().data();
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.form = new SpecificPopulationCharacteristic().data();
        this.dialog = false;
        this.title = 'Core.Create';
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
      items: function () {
        return [
          {
            text: `${this.$t('Dashboard.PopulationCharacteristics')}: ${this.resource.name}`,
            disabled: false,
            href: { name: 'PopulationScheme' }
          },
          {
            text: `${this.$t('Dashboard.SpecificPopulationCharacteristics')}`,
            disabled: true,
            href: 'javascript:;'
          },
        ]
      }
    },
  }
</script>

<style scoped>

</style>
