<template>
  <v-container
    id="dashboard"
  >
    <core-v-component :heading="$t('Dashboard.Stats')">
      <p class="description">{{ start_date }} - {{ final_date }} <v-icon small @click="filter = true">mdi-pencil</v-icon></p>
    </core-v-component>
    <v-row>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="info"
          icon="mdi-ballot"
          :title="$t('Dashboard.Total')"
          :value="programmings.total"
          sub-icon="mdi-refresh"
          :sub-icon-func="getProgrammings"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="success"
          icon="mdi-ballot"
          :title="$t('Dashboard.Active')"
          :value="programmings.active"
          sub-icon="mdi-refresh"
          :sub-icon-func="getProgrammings"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="danger"
          icon="mdi-ballot"
          :title="$t('Dashboard.Cancelled')"
          :value="programmings.cancelled"
          sub-icon="mdi-refresh"
          :sub-icon-func="getProgrammings"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="warning"
          icon="mdi-ballot"
          :title="$t('Dashboard.Commitments')"
          :value="programmings.commitments"
          sub-icon="mdi-refresh"
          :sub-icon-func="getProgrammings"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="gray"
          icon="mdi-ballot"
          :title="$t('Dashboard.Tracings')"
          :value="programmings.tracings"
          sub-icon="mdi-refresh"
          :sub-icon-func="getProgrammings"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="purple"
          icon="mdi-ballot"
          :title="$t('Dashboard.Agreements')"
          :value="stats.agreements"
          sub-icon="mdi-refresh"
          :sub-icon-func="getStats"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="pink"
          icon="mdi-ballot"
          :title="$t('Dashboard.Covenants')"
          :value="stats.covenants"
          sub-icon="mdi-refresh"
          :sub-icon-func="getStats"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>
      <v-col cols="12" sm="6" lg="3">
        <material-stats-card
          color="black"
          icon="mdi-ballot"
          :title="$t('Dashboard.WorkTable')"
          :value="stats.work_table"
          sub-icon="mdi-refresh"
          :sub-icon-func="getStats"
          :sub-text="`${ $t('Core.Updated').capitalize() } ${right_now}`"
        ></material-stats-card>
      </v-col>

      <v-col cols="12">
        <material-card :color="accentColor" icon="mdi-format-list-bulleted" :title="$t('Dashboard.ParkTwice')" inline>
          <v-card-text>
            <v-data-table class="mt-6" :headers="headers" :show-expand="responsive" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }"
                          :items="parks" item-key="id" :loading="isLoading"
                          :loading-text="$t('Core.Loading')" >

              <template v-slot:top>
                <v-toolbar class="elevation-0" :class="[{'mb-12': responsive}]">
                  <v-row>
                    <v-col cols="12" class="text-left" sm="12" lg="4">
                      <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <v-btn color="info"
                                 class="mr-2 my-2"
                                 @click="getParks"
                                 :loading="isLoading"
                                 :disabled="isLoading"
                                 v-on="on"
                                 fab
                                 small>
                            <v-icon>mdi-reload</v-icon>
                          </v-btn>
                        </template>
                        <span>{{$t('Core.Refresh')}}</span>
                      </v-tooltip>
                    </v-col>
                  </v-row>
                </v-toolbar>
              </template>

              <template v-if="responsive" v-slot:expanded-item="items">
                <td :colspan="items.headers.length">{{ items.item.park }}</td>
              </template>

              <template  v-slot:no-data>
                <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
                </core-empty-state>
              </template>

              <template v-slot:no-results>
                <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
                </core-empty-state>
              </template>

            </v-data-table>
          </v-card-text>
        </material-card>
      </v-col>
    </v-row>

    <v-dialog v-model="filter" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">

      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t('Core.Filters').capitalize() }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="filter = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="mb-0">
          <v-form @submit.prevent="onSubmit">
            <v-container>
              <v-row>
                <!-- Start Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="startDate"
                    v-model="modal"
                    :return-value.sync="start_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        v-validate="form.validations.input_date_required"
                        :loading="isLoading"
                        :disabled="isLoading"
                        :error-messages="errors.collect( 'start_date' )"
                        :error="form.errors.has('start_date')"
                        id="start_date"
                        name="start_date"
                        clearable
                        required
                        v-model="start_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="start_date" :max="moment( final_date ).toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.startDate.save(start_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>

                <!-- Final Date -->
                <v-col cols="12" sm="12" lg="6">
                  <v-dialog
                    ref="endDate"
                    v-model="modal2"
                    :return-value.sync="final_date"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :label="$t('Input.Date').capitalize()"
                        v-validate="form.validations.input_date_required"
                        :loading="isLoading"
                        :disabled="isLoading"
                        :error-messages="errors.collect( 'final_date' )"
                        :error="form.errors.has('final_date')"
                        id="final_date"
                        name="final_date"
                        clearable
                        required
                        v-model="final_date"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="final_date" :min="moment( start_date ).toISOString()" scrollable>
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.endDate.save(final_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>

                <!-- Professionals -->
                <v-col cols="12">
                  <v-select
                    v-model="professionals"
                    clearable
                    multiple
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="professionals_data"
                    id="professionals"
                    name="professionals"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-account-multiple"
                    :label="$t('Input.Professional').capitalize()"
                  ></v-select>
                </v-col>

                <v-col cols="12" class="text-right">
                  <v-btn type="submit" color="info" :loading="isLoading" :disabled="isLoading" @submit.prevent="onSubmit">
                    <v-icon left color="white">mdi-history</v-icon> {{ $t('Core.Send').capitalize() }}
                  </v-btn>
                </v-col>

              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>

    </v-dialog>

    <v-fab-transition>
      <v-btn
        @click="filter = true"
        color="success"
        :loading="isLoading"
        :disabled="isLoading"
        dark
        fixed
        bottom
        right
        fab
      >
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </v-fab-transition>

  </v-container>
</template>

<script>
  import {Counters} from "@/models/services/Counters";

  export default {
    name: "Stats",
    components: {
      CoreVComponent: () => import(  /*WebpackChinks component */ "@/components/core/Component" ),
    },
    data: vm => ({
      filter: false,
      modal: false,
      modal2: false,
      form: (new Counters()),
      professionals: [],
      professionals_data: [],
      start_date: moment().startOf('month').format('YYYY-MM-DD'),
      final_date: moment().endOf('month').format('YYYY-MM-DD'),
      programmings: {
        total: 0,
        active: 0,
        cancelled: 0,
        commitments: 0,
        tracings: 0,
      },
      parks: [],
      stats: {
        agreements: 0,
        covenants: 0,
        work_table: 0,
      },
      columns: [
        { text: '#', width: '100', value: 'park_id', sortable: false },
        { text: vm.$t('Input.Park').capitalize(), value: 'park', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.Upz').capitalize(), value: 'upz', width: '126', align: 'center', sortable: false },
        { text: 'Total', value: 'total_programmed', width: '126', align: 'center', sortable: false },
      ],
      responsive_columns: [
        { text: '#', width: '100', value: 'park_id', sortable: false },
        { text: vm.$t('Input.Upz').capitalize(), value: 'upz', width: '126', align: 'center', sortable: false },
        { text: 'Total', value: 'total_programmed', width: '126', align: 'center', sortable: false },
      ],
    }),
    created: function () {
      this.getProfessionals();
      this.getProgrammings();
      this.getStats();
      this.getParks();
    },
    methods: {
      getProfessionals: function () {
        this.professionals_data = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals_data.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals_data = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getProgrammings: function () {
        this.programmings = {
            total: 0,
            active: 0,
            cancelled: 0,
            commitments: 0,
            tracings: 0,
        }
        this.form.programmings( { params: { start_date: this.start_date, final_date: this.final_date, professional: this.professionals } } )
          .then(response => this.programmings = response.data)
          .then(() => this.current_time = this.moment())
          .catch(error => this.notifyOnError(error.message))
      },
      getStats: function () {
        this.stats = {
          agreements: 0,
          covenants: 0,
          work_table: 0
        }
        this.form.stats( { params: { start_date: this.start_date, final_date: this.final_date, professional: this.professionals } } )
          .then(response => this.stats = response.data)
          .then(() => this.current_time = this.moment())
          .catch(error => this.notifyOnError(error.message))
      },
      getParks: function () {
        this.form.parks( { params: { start_date: this.start_date, final_date: this.final_date, professional: this.professionals } } )
          .then(response => this.parks = response.data)
          .then(() => this.current_time = this.moment())
          .catch(error => this.notifyOnError(error.message))
      },
      onSubmit: function () {
        this.getProfessionals();
        this.getProgrammings();
        this.getStats();
        this.getParks();
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
      headers () {
        return this.responsive ? this.responsive_columns : this.columns
      }
    },
  }
</script>

<style scoped>

</style>