<template>
  <v-container id="strategies-scheme" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.Strategies')" inline>
      <v-card-text>
        <v-breadcrumbs v-if="!responsive" :items="items">
          <template v-slot:item="props">
            <v-btn text x-small :to="props.item.href" :disabled="props.item.disabled">{{ props.item.text.toUpperCase() }}</v-btn>
          </template>
        </v-breadcrumbs>
        <StrategyTable @onEdit="onEdit" :component_id="$route.params.component_id">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="$auth.can( $auth.permissions.schema_activities[20] )"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>
          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.schema_activities[20] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </StrategyTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ $t('Dashboard.Strategy') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <StrategiesForm :data="form" :component="resource"></StrategiesForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {Strategy} from "@/models/services/Scheme/Strategy";
  import {Component} from "@/models/services/Scheme/Component";

  export default {
    name: "StrategiesScheme",
    props: {
      component: {
        type: Object,
        default: () => ({})
      }
    },
    components: {
      StrategiesForm: () => import('@/views/dashboard/Forms/Schema/StrategyForm'),
      StrategyTable: () => import("@/views/dashboard/Tables/Schema/StrategyTable"),
    },
    data: vm => ({
      resource: vm.component,
      form: new Strategy().data(),
      title: 'Core.Create',
      dialog: false
    }),
    created: function () {
      if ( ! this.component.hasOwnProperty('name') ) {
        (new Component()).show( this.$route.params.component_id )
          .then(response => {
            this.resource = response.data;
          })
          .catch(error => this.notifyOnError( error.message ))
      }
    },
    methods: {
      onEdit: function (data) {
        const open = () => {
          this.form = data;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };
        if (this.dialog) {
          this.form = new Strategy().data();
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.form = new Strategy().data();
        this.dialog = false;
        this.title = 'Core.Create';
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
      items: function () {
        return [
          {
            text: `${this.$t('Dashboard.Program')}: ${this.resource.program}`,
            disabled: false,
            href: { name: 'ProgramsScheme' }
          },
          {
            text: `${this.$t('Dashboard.Activity')}: ${this.resource.activity}`,
            disabled: false,
            href: { name: 'ActivitiesScheme', params: { id: this.$route.params.program_id } }
          },
          {
            text: `${this.$t('Dashboard.SubActivity')}: ${this.resource.sub_activity}`,
            disabled: false,
            href: { name: 'SubActivitiesScheme', params: { program_id: this.$route.params.program_id, activity_id: this.$route.params.activity_id, sub_activity_id: this.$route.params.sub_activity_id } }
          },
          {
            text: `${this.$t('Dashboard.Thematic')}: ${this.resource.thematic}`,
            disabled: false,
            href: { name: 'ThematicsScheme', params: { program_id: this.$route.params.program_id, activity_id: this.$route.params.activity_id, sub_activity_id: this.$route.params.sub_activity_id , thematic_id: this.$route.params.thematic_id } }
          },
          {
            text: `${this.$t('Dashboard.Component')}: ${this.resource.name}`,
            disabled: false,
            href: { name: 'ComponentsScheme', params: { program_id: this.$route.params.program_id, activity_id: this.$route.params.activity_id, sub_activity_id: this.$route.params.sub_activity_id , thematic_id: this.$route.params.thematic_id, component_id: this.$route.params.component_id } }
          },
          {
            text: `${this.$t('Dashboard.Strategy')}`,
            disabled: true,
            href: 'javascript:;'
          },
        ]
      }
    },
  }
</script>

<style scoped>

</style>
