<template>
  <v-container id="thematics-scheme" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.Thematics')" inline>
      <v-card-text>
        <v-breadcrumbs v-if="!responsive" :items="items">
          <template v-slot:item="props">
            <v-btn text x-small :to="props.item.href" :disabled="props.item.disabled">{{ props.item.text.toUpperCase() }}</v-btn>
          </template>
        </v-breadcrumbs>
        <ThematicTable @onEdit="onEdit" @onAddScheme="onAddScheme" :sub_activity_id="$route.params.sub_activity_id">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="$auth.can( $auth.permissions.schema_activities[12] )"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>
          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.schema_activities[12] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </ThematicTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ $t('Dashboard.Thematic') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <ThematicForm :data="form" :sub_activity="resource"></ThematicForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {Thematic} from "@/models/services/Scheme/Thematic";
  import {SubActivity} from "@/models/services/Scheme/SubActivity";

  export default {
    name: "ThematicsScheme",
    props: {
      sub_activity: {
        type: Object,
        default: () => ({})
      }
    },
    components: {
      ThematicForm: () => import('@/views/dashboard/Forms/Schema/ThematicForm'),
      ThematicTable: () => import("@/views/dashboard/Tables/Schema/ThematicTable"),
    },
    data: vm => ({
      resource: vm.sub_activity,
      form: new Thematic().data(),
      title: 'Core.Create',
      dialog: false
    }),
    created: function () {
      if ( ! this.sub_activity.hasOwnProperty('name') ) {
        (new SubActivity()).show( this.$route.params.sub_activity_id )
          .then(response => {
            this.resource = response.data;
          })
          .catch(error => this.notifyOnError( error.message ))
      }
    },
    methods: {
      onEdit: function (data) {
        const open = () => {
          this.form = data;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };
        if (this.dialog) {
          this.form = new Thematic().data();
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.form = new Thematic().data();
        this.dialog = false;
        this.title = 'Core.Create';
      },
      onAddScheme: function (data) {
        this.$router.push({name: 'ComponentsScheme', params: {
            program_id: this.$route.params.program_id,
            activity_id: this.$route.params.activity_id,
            sub_activity_id: this.$route.params.sub_activity_id,
            thematic_id: data.id,
            thematic: data }
        })
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
      items: function () {
        return [
          {
            text: `${this.$t('Dashboard.Program')}: ${this.resource.program}`,
            disabled: false,
            href: { name: 'ProgramsScheme' }
          },
          {
            text: `${this.$t('Dashboard.Activity')}: ${this.resource.activity}`,
            disabled: false,
            href: { name: 'ActivitiesScheme', params: { id: this.$route.params.program_id } }
          },
          {
            text: `${this.$t('Dashboard.SubActivity')}: ${this.resource.name}`,
            disabled: false,
            href: { name: 'SubActivitiesScheme', params: { program_id: this.$route.params.program_id, activity_id: this.$route.params.activity_id, sub_activity_id: this.$route.params.sub_activity_id } }
          },
          {
            text: `${this.$t('Dashboard.Thematic')}`,
            disabled: true,
            href: 'javascript:;'
          },
        ]
      }
    },
  }
</script>

<style scoped>

</style>
