<template>
  <v-container id="upz-scheme" tag="section">
    <material-card :color="accentColor" icon="mdi-security" :title="$t('Dashboard.UpzScheme')" inline>
      <v-card-text>
        <v-breadcrumbs v-if="!responsive" :items="items">
          <template v-slot:item="props">
            <v-btn text x-small :to="props.item.href" :disabled="props.item.disabled">{{ props.item.text.toUpperCase() }}</v-btn>
          </template>
        </v-breadcrumbs>
        <UpzTable @onEdit="onEdit" :location_id="$route.params.id" @onAddScheme="onAddScheme">
          <template v-slot:header>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="$auth.can( $auth.permissions.scheme_locations[4] )"
                       v-on="on"
                       class="mr-2 my-2"
                       @click="dialog = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
          </template>

          <template v-slot:dial-create>
            <v-btn color="info"
                   v-if="$auth.can( $auth.permissions.scheme_locations[4] )"
                   @click="dialog = true"
                   :loading="isLoading"
                   :disabled="isLoading"
                   fab
                   dark
                   small>
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
        </UpzTable>
      </v-card-text>
    </material-card>

    <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t( title ) }} {{ $t('Dashboard.Upz') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="onClose">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>


        <v-card-text class="mb-0">
          <UpzForm :location="resource" :data="form"></UpzForm>
        </v-card-text>

      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {Location} from "@/models/services/Scheme/Location";
  import {Upz} from "@/models/services/Scheme/Upz";

  export default {
    name: "UpzScheme",
    props: {
      location: {
        type: Object,
        default: () => ({})
      }
    },
    components: {
      UpzForm: () => import("@/views/dashboard/Forms/Schema/UpzForm"),
      UpzTable: () => import("@/views/dashboard/Tables/Schema/UpzTable")
    },
    created: function () {
      if ( this.location.hasOwnProperty('name') ) {
        this.location_name = this.location.name;
      } else {
        (new Location()).show( this.$route.params.id )
          .then(response => {
            this.resource = response.data;
            this.location_name = response.data.name;
          })
          .catch(error => this.notifyOnError( error.message ))
      }
    },
    data: vm => ({
      location_name: null,
      resource: vm.location,
      form: new Upz().data(),
      title: 'Core.Create',
      dialog: false
    }),
    methods: {
      onEdit: function (data) {
        const open = () => {
          this.form = data;
          this.title = 'Core.Edit';
          setTimeout(() => this.dialog = true, 10)
        };
        if (this.dialog) {
          this.form = new Upz().data();
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.form = new Upz().data();
        this.dialog = false;
        this.title = 'Core.Create';
      },
      onAddScheme: function (data) {
        this.$router.push({name: 'NeighborhoodsScheme', params: { location_id: this.$route.params.id, upz_id: data.id, upz: data }})
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
      items: function () {
        return [
          {
            text: `${this.$t('Dashboard.Location')}: ${this.location_name}`,
            disabled: false,
            href: { name: 'LocationScheme' }
          },
          {
            text: `${this.$t('Dashboard.Upz')}`,
            disabled: true,
            href: 'javascript:;'
          },
        ]
      }
    },
  }
</script>

<style scoped>

</style>
