<template>
    <v-container id="users" tag="section">
        <material-card :color="accentColor" icon="mdi-account-multiple" :title="$t('Dashboard.Users')" inline>
            <v-card-text>
              <UsersTable @onEdit="onEdit">
                <template v-slot:header>
                  <v-tooltip top>
                    <template v-slot:activator="{ on }">
                      <v-btn color="info"
                             v-if="$auth.can( $auth.permissions.users[0] )"
                             v-on="on"
                             class="mr-2 my-2"
                             @click="onCreate"
                             :loading="isLoading"
                             :disabled="isLoading"
                             fab
                             small>
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                    <span>{{$t('Core.Create')}}</span>
                  </v-tooltip>
                </template>
              </UsersTable>
            </v-card-text>
        </material-card>
  
      <v-dialog v-model="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
    
        <v-card :style="borderStyles" class="elevation-10">
          <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
            <v-toolbar-title>
              {{ $t( title ) }}
            </v-toolbar-title>
        
            <div class="flex-grow-1"></div>
        
            <v-btn icon @click="onClose">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
      
          <v-card-text class="mb-0">
            <v-window touchless v-model="step">
              <v-window-item :value="1">
                <CheckProfileForm>
                </CheckProfileForm>
              </v-window-item>
              <v-window-item :value="2">
                <ProfileForm :user="user">
                  <v-btn  @click="step = 1"  :loading="isLoading" :disabled="isLoading" color="success">
                    <v-icon left>mdi-chevron-left</v-icon>{{ $t('Core.Back') }}
                  </v-btn>
                  <v-btn v-if="user.sim_id" @click="step = 3"  :loading="isLoading" :disabled="isLoading" color="success">
                    {{ $t('Input.ContinueNoEdit') }} <v-icon right>mdi-chevron-right</v-icon>
                  </v-btn>
                </ProfileForm>
              </v-window-item>
              <v-window-item :value="3">
                <AccessForm :user="user">
                  <v-btn  @click="step = 2"  :loading="isLoading" :disabled="isLoading" color="success">
                    <v-icon left>mdi-chevron-left</v-icon>{{ $t('Core.Back') }}
                  </v-btn>
                  <v-btn v-if="user.sim_id && user.username" @click="step = 4"  :loading="isLoading" :disabled="isLoading" color="success">
                    {{ $t('Input.ContinueNoEdit') }} <v-icon right>mdi-chevron-right</v-icon>
                  </v-btn>
                </AccessForm>
              </v-window-item>
              <v-window-item :value="4">
                <UsersForm :user="user">
                  <v-btn  @click="step = 3"  :loading="isLoading" :disabled="isLoading" color="success">
                    <v-icon left>mdi-chevron-left</v-icon>{{ $t('Core.Back') }}
                  </v-btn>
                </UsersForm>
              </v-window-item>
            </v-window>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-container>
</template>

<script>
  import {User} from "@/models/services/Security/User";

  export default {
    name: "Users",
    components: {
      CheckProfileForm: () => import("@/views/dashboard/Forms/Security/ProfileCheckForm"),
      ProfileForm: () => import("@/views/dashboard/Forms/Security/ProfileForm"),
      AccessForm: () => import("@/views/dashboard/Forms/Security/AccessForm"),
      UsersForm: () => import("@/views/dashboard/Forms/Security/UsersForm"),
      UsersTable: () => import('@/views/dashboard/Tables/Security/UsersTable')
    },
    data: () => ({
      step: 1,
      user: new User().data(),
      dialog: false,
      title: 'Core.Create'
    }),
    mounted: function () {
      this.$bus.$on('onUserProfile', user => {
        if ( user ) {
          this.user = {
            id: user.id || null,
            name: user.name || user.full_name || null,
            email: user.email || null,
            contract: user.contract || null,
            contract_initial_date: user.contract_initial_date || null,
            contract_final_date: user.contract_final_date || null,
            virtual_record: user.virtual_record || null,
            username: user.username || null,
            password: user.document || null,
            password_confirmation: user.document || null,
            sim_id: user.sim || null,
            ...user
          };
        }
        this.step++;
      });
      this.$bus.$on('onSuccessSave', () => {
        this.step = 1;
      })
    },
    methods: {
      onCreate: function () {
        this.dialog = true;
        this.step = 1;
        this.user = new User().data();
      },
      onEdit: function (user) {
        const open = () => {
          this.user = user;
          this.title = 'Core.Edit';
          this.step = 2;
          setTimeout(() => this.dialog = true, 10)
        };

        if (this.dialog) {
          this.dialog = false;
          this.user = new User().data();
          this.title = 'Core.Create';
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onClose: function () {
        this.dialog = false;
        this.user = new User().data();
        this.title = 'Core.Create';
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
    beforeDestroy: function () {
      this.$bus.$off('onUserProfile');
      this.$bus.$off('onSuccessSave');
    }
  }
</script>

<style scoped>

</style>
