<template>
  <v-card
    class="v-card--background"
    :img="cardImage"
  >
    <v-container class="pa-4 text-center fill-height">
      <v-row  class="fill-height" align="center" justify="center">
        <v-col cols="12">
          <v-card-title class="h6">
            <v-icon small v-if="icon">{{ icon }}</v-icon> {{ category }}
          </v-card-title>
          <v-card-title class="h3 font-weight-bold white--text">
            {{ title }}
          </v-card-title>
          <v-card-text>
            <slot name="text"></slot>
          </v-card-text>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
  export default {
    name: "BgCard",
    props: {
      cardImage: String,
      category: String,
      title: String,
      icon: {
        type: String,
        default: 'mdi-calendar'
      },
    }
  }
</script>

<style lang="scss">

</style>