<template>
    <v-card :height="height" class="elevation-0"  dark color="#2d2d2d">
        <v-window class="my-3">
            <v-window-item>
                <slot></slot>
            </v-window-item>
        </v-window>
    </v-card>
</template>

<script>
    export default {
        name: "Code",
        props: ['height']
    }
</script>

<style lang="stylus">

</style>
