<template>
    <v-bottom-sheet hide-overlay persistent v-model="showConsole">
        <slot></slot>
    </v-bottom-sheet>
</template>

<script>
    export default {
        name: "Sheet"
    }
</script>

<style scoped>

</style>
