<template>
  <v-banner double-line transition="slide-y-transition" elevation="5">
    <v-icon
      slot="icon"
      size="36"
    >
      mdi-wifi-strength-alert-outline
    </v-icon>
    Unable to verify your Internet connection

    <template v-slot:actions>
      <v-btn
        color="primary"
        text
      >
        Connecting Settings
      </v-btn>
    </template>
  </v-banner>
</template>

<script>
  export default {
    name: "Banner"
  }
</script>

<style scoped>

</style>