<template>
  <section class="mb-12 text-center">
    <h1
      class="display-1 font-weight-light mb-3"
      v-text="`${heading}`"
    />

    <slot></slot>
  </section>
</template>

<script>
  export default {
    name: 'VComponent',

    props: {
      heading: {
        type: String,
        default: ''
      }
    }
  }
</script>
