<template>
  <v-dialog v-model="showFullScreenDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar dark color="bg-primary">
        <v-btn icon dark @click="onCloseWindow">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
      </v-toolbar>

      <slot></slot>

    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "FullScreenDialog",
    props: {
      title: {
        type: String,
        default: undefined
      }
    },
    methods: {
      onCloseWindow: function () {
        this.onCloseFSD();
        this.$bus.$emit('onCloseFullScreenWindow')
      }
    }
  }
</script>

<style scoped>

</style>