<template>
  <v-navigation-drawer id="app-settings"
                       v-model="showDrawerRight"
                       :right="!viewRTL"
                       temporary
                       app
                       bottom
                       mobile-break-point="991"
                       width="260"
  >
    <v-container grid-list-xl>
      <v-layout wrap>
        <v-flex xs12>
          <div class="text-xs-center body-2 text-uppercase sidebar-filter">Dark/Light Theme</div>
          <v-layout justify-center>
            <v-btn icon @click.stop="onDark">
              <v-icon>mdi-theme-light-dark</v-icon>
            </v-btn>
          </v-layout>
          <v-divider class="mt-3"/>
        </v-flex>
        <v-flex xs12>
          <div class="text-xs-center body-2 text-uppercase sidebar-filter">RTL</div>
          <v-layout justify-center>
            <v-btn icon @click.stop="changeRTL">
              <v-icon>mdi-toggle-switch</v-icon>
            </v-btn>
          </v-layout>
          <v-divider class="mt-3"/>
        </v-flex>
        <v-flex xs12>
          <div class="text-xs-center body-2 text-uppercase sidebar-filter">Clear All</div>
          <v-layout justify-center>
            <v-btn icon @click.stop="onClean">
              <v-icon>mdi-delete-outline</v-icon>
            </v-btn>
          </v-layout>
          <v-divider class="mt-3"/>
        </v-flex>
        <v-flex xs12>
          <div class="text-xs-center body-2 text-uppercase sidebar-filter">Sidebar Filters</div>
          <v-layout justify-center>
            <v-avatar
              v-for="c in colors"
              :key="c"
              :class="[c === accentColor ? 'color-active color-' + c: 'color-' + c]"
              size="23"
              @click="setColor(c)"
            />
          </v-layout>
          <v-divider class="mt-3"/>
        </v-flex>
        <v-flex xs12>
          <div class="text-xs-center body-2 text-uppercase sidebar-filter">Sidebar Background</div>
          <v-layout justify-center>
            <v-avatar
              v-for="c in scrims"
              :key="c.bg"
              :class="[c.bg === sideBarColor ? 'color-active color-primary' : 'color-white']"
              :color="c.color"
              size="20"
              @click="setDrawerColor(c.bg)"
            />

          </v-layout>
          <v-divider class="mt-3"/>
        </v-flex>
        <v-flex xs12>
          <div class="text-xs-center body-2 text-uppercase sidebar-filter">Images</div>
        </v-flex>
        <v-flex v-for="img in images" :key="img" xs3>
          <v-img
            :class="[sideBarImage === img ? 'image-active' : '']"
            :src="img"
            height="120"
            @click.native="setImage(img)"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </v-navigation-drawer>
</template>

<script>
  export default {
    data: () => ({
      name: "RightDrawer",
      colors: [
        'primary',
        'success',
        'warning',
        'red',
        'purple',
        'pink',
        'grey',
        'black'
      ],
      scrims: [
        {
          color: 'black',
          bg: 'rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)'
        },
        {
          color: 'grey',
          bg: 'rgba(255, 255, 255, .1), rgba(255, 255, 255, .5)'
        },
        {
          color: 'red',
          bg: 'rgba(244, 67, 54, .1), rgba(244, 67, 54, .5)'
        },
        {
          color: 'primary',
          bg: 'rgba(38, 198, 218, .1), rgba(38, 198, 218, .5)'
        },
        {
          color: 'green',
          bg: 'rgba(76, 175, 80, .1), rgba(76, 175, 80, .5)'
        },
      ],
      images: [
        require('@/assets/img/sidebar/sidebar-1.jpg'),
        require('@/assets/img/sidebar/sidebar-2.jpg'),
        require('@/assets/img/sidebar/sidebar-3.jpg'),
        require('@/assets/img/sidebar/sidebar-4.jpg')
      ]
    }),
    methods: {
      onClean: function () {
        this.$store.dispatch('selects/clear_all')
          .finally(() => window.location.reload())
      }
    }
  }
</script>

<style lang="scss">
  .v-avatar,
  .v-responsive {
    cursor: pointer;
  }
</style>
