<template>
  <v-content>
    <material-notification color="warning"
                           dark
                           :value="false"
                           transition="slide-y-transition"
                           dismissible
                           icon="mdi-bell-plus">
      <strong>INFO</strong> - This is a regular notification made with `color="info"`
    </material-notification>

    <router-view v-if="$route.meta.isFullCalendar" />

    <div v-else id="core-view">
      <v-fade-transition mode="out-in">
        <router-view />
      </v-fade-transition>
    </div>



    <core-snackbar @on-close="onCloseNotification"></core-snackbar>
    <core-new-update-available></core-new-update-available>
  </v-content>
</template>

<script>
export default {
  metaInfo () {
    return {
      title: this.$t( `Dashboard.${this.$route.name}` ),
    }
  },
}
</script>

<style lang="stylus" scoped>
  #core-view
    padding-bottom: 100px;
</style>
