<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12">
        <v-input
          :append-icon="isEditing ? 'mdi-close':'mdi-pencil'"
          @click:append="isEditing = !isEditing"
        >
          {{ $t('Core.ChangeAllData') }}
        </v-input>
      </v-col>
      <!-- Programs -->
      <v-col v-if="isEditing"  cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.program_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'program_id' )"
          :error="form.errors.has('program_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="programs"
          id="program_id"
          name="program_id"
          item-text="name"
          item-value="id"
          append-icon="mdi-refresh"
          @click:append="clearPrograms"
          prepend-icon="mdi-dots-horizontal"
          :label="$t('Input.Program').capitalize()"
        ></v-select>
      </v-col>
      <v-col v-else cols="12" sm="12" lg="6">
        <v-input
          :messages="[ $t('Input.Program').capitalize() ]"
          :error-messages="errors.collect( 'program_id' )"
          :error="form.errors.has('program_id')"
          prepend-icon="mdi-dots-horizontal"
          :label="program.name"
        >
        </v-input>
      </v-col>
      <!-- Name -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model="form.name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="name"
          id="name"
        />
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Activity} from "@/models/services/Scheme/Activity";

  export default {
    name: "ActivityForm",
    props: {
      data: {
        type: Object,
        default: () => new Activity().data()
      },
      program: {
        type: Object,
        default: () => ({})
      }
    },
    created: function () {
      this.form = new Activity( this.data );
      this.getPrograms();
      this.form.program_id = this.program.id;
    },
    data: () => ({
      form: new Activity(),
      isEditing: false
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            let form = this.data.id ? this.form.update(this.data.id) : this.form.store();
            form
              .then(({data}) => this.notifyOnSuccess(data))
              .then(() => this.$validator.reset())
              .then(() => this.$bus.$emit('refreshActivities'))
              .catch(error => {
                if (error.message) {
                  this.notifyOnError(error.message)
                }
              })
          }
        })
      }
    },
    watch: {
      data: function ( data ) {
        this.form = new Activity( data );
      }
    }
  }
</script>

<style scoped>

</style>
