<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Name -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model="form.name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="name"
          id="name"
        />
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Program} from "@/models/services/Scheme/Program";

  export default {
    name: "ProgramForm",
    props: {
      data: {
        type: Object,
        default: () => new Program().data()
      }
    },
    created: function () {
      this.form = new Program( this.data )
    },
    data: () => ({
      form: new Program()
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            let form = this.data.id ? this.form.update(this.data.id) : this.form.store();
            form
              .then(({data}) => this.notifyOnSuccess(data))
              .then(() => this.$validator.reset())
              .then(() => this.$bus.$emit('refreshPrograms'))
              .catch(error => {
                if (error.message) {
                  this.notifyOnError(error.message)
                }
              })
          }
        })
      }
    },
    watch: {
      data: function (data) {
        this.form = new Program( data );
      }
    }
  }
</script>

<style scoped>

</style>
