<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12">
        <v-input
          :append-icon="isEditing ? 'mdi-close':'mdi-pencil'"
          @click:append="isEditing = !isEditing"
        >
          {{ $t('Core.ChangeAllData') }}
        </v-input>
      </v-col>
      <!-- Programs -->
      <v-col v-if="isEditing" cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.program_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'program_id' )"
          :error="form.errors.has('program_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="programs"
          id="program_id"
          name="program_id"
          item-text="name"
          item-value="id"
          append-icon="mdi-refresh"
          @change="getActivities"
          @click:append="clearPrograms"
          prepend-icon="mdi-dots-horizontal"
          :label="$t('Input.Program').capitalize()"
        ></v-select>
      </v-col>
      <v-col v-else cols="12" sm="12" lg="6">
        <v-input
          :messages="[ $t('Input.Program').capitalize() ]"
          :error-messages="errors.collect( 'program_id' )"
          :error="form.errors.has('program_id')"
          prepend-icon="mdi-dots-horizontal"
          :label="component.program"
        >
        </v-input>
      </v-col>
      <!-- Activities -->
      <v-col v-if="isEditing" cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.activity_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'activity_id' )"
          :error="form.errors.has('activity_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="activities"
          @change="getSubActivities"
          id="activity_id"
          name="activity_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-dots-horizontal"
          :label="$t('Input.Activity').capitalize()"
        ></v-select>
      </v-col>
      <v-col v-else cols="12" sm="12" lg="6">
        <v-input
          :messages="[ $t('Input.Activity').capitalize() ]"
          :error-messages="errors.collect( 'activity_id' )"
          :error="form.errors.has('activity_id')"
          prepend-icon="mdi-dots-horizontal"
          :label="component.activity"
        >
        </v-input>
      </v-col>
      <!-- SubActivities -->
      <v-col v-if="isEditing" cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.sub_activity_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'sub_activity_id' )"
          :error="form.errors.has('sub_activity_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="sub_activities"
          id="sub_activity_id"
          name="sub_activity_id"
          @change="getThematics"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-dots-horizontal"
          :label="$t('Input.SubActivity').capitalize()"
        ></v-select>
      </v-col>
      <v-col v-else cols="12" sm="12" lg="6">
        <v-input
          :messages="[ $t('Input.SubActivity').capitalize() ]"
          :error-messages="errors.collect( 'sub_activity_id' )"
          :error="form.errors.has('sub_activity_id')"
          prepend-icon="mdi-dots-horizontal"
          :label="component.sub_activity"
        >
        </v-input>
      </v-col>
      <!-- Thematic -->
      <v-col v-if="isEditing" cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.thematic_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'thematic_id' )"
          :error="form.errors.has('thematic_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="thematics"
          @change="getComponents"
          id="thematic_id"
          name="thematic_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-dots-horizontal"
          :label="$t('Input.Thematic').capitalize()"
        ></v-select>
      </v-col>
      <v-col v-else cols="12" sm="12" lg="6">
        <v-input
          :messages="[ $t('Input.Thematic').capitalize() ]"
          :error-messages="errors.collect( 'thematic_id' )"
          :error="form.errors.has('thematic_id')"
          prepend-icon="mdi-dots-horizontal"
          :label="component.thematic"
        >
        </v-input>
      </v-col>
      <!-- Components -->
      <v-col v-if="isEditing"  cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.component_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'component_id' )"
          :error="form.errors.has('component_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="components"
          id="component_id"
          name="component_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-dots-horizontal"
          :label="$t('Input.Component').capitalize()"
        ></v-select>
      </v-col>
      <v-col v-else cols="12" sm="12" lg="6">
        <v-input
          :messages="[ $t('Input.Component').capitalize() ]"
          :error-messages="errors.collect( 'component_id' )"
          :error="form.errors.has('component_id')"
          prepend-icon="mdi-dots-horizontal"
          :label="component.name"
        >
        </v-input>
      </v-col>
      <!-- Name -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model="form.name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="name"
          id="name"
        />
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Strategy} from "@/models/services/Scheme/Strategy";

  export default {
    name: "StrategyForm",
    props: {
      data: {
        type: Object,
        default: () => new Strategy().data()
      },
      component: {
        type: Object,
        default: () => ({})
      }
    },
    created: function () {
      this.form = new Strategy( this.data );
      this.form.component_id = this.component.id;
      this.form.thematic_id = this.component.thematic_id;
      this.form.sub_activity_id = this.component.sub_activity_id;
      this.form.activity_id = this.component.activity_id;
      this.form.program_id = this.component.program_id;
      this.getPrograms();
      this.getActivities(this.form.program_id)
      this.getSubActivities(this.component.activity_id)
      this.getThematics(this.component.sub_activity_id)
      this.getComponents(this.component.thematic_id)
    },
    data: () => ({
      form: new Strategy(),
      isEditing: false,
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            let form = this.data.id ? this.form.update(this.data.id) : this.form.store();
            form
              .then(({data}) => this.notifyOnSuccess(data))
              .then(() => this.$validator.reset())
              .then(() => this.$bus.$emit('refreshStrategies'))
              .catch(error => {
                if (error.message) {
                  this.notifyOnError(error.message)
                }
              })
          }
        })
      }
    },
    watch: {
      data: function ( data ) {
        this.form = new Strategy( data );
      }
    }
  }
</script>

<style scoped>

</style>
