<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12">
        <v-input
          :append-icon="isEditing ? 'mdi-close':'mdi-pencil'"
          @click:append="isEditing = !isEditing"
        >
          {{ $t('Core.ChangeAllData') }}
        </v-input>
      </v-col>
      <!-- Locations -->
      <v-col v-if="isEditing" cols="12" sm="12" lg="6">
        <v-select
          v-model.number="form.location_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'location_id' )"
          :error="form.errors.has('location_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="locations"
          id="location_id"
          name="location_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-dots-horizontal"
          :label="$t('Input.Location').capitalize()"
        >
          <template v-if="locations.length < locations_meta.total" v-slot:append-item>
            <v-divider class="mb-2"></v-divider>
            <v-list-item :disabled="isLoading" @click="onLoadMore">
              <v-list-item-avatar color="grey lighten-3">
                <v-progress-circular
                  v-if="isLoading"
                  indeterminate
                  color="primary"
                ></v-progress-circular>
                <v-icon v-else>mdi-dots-horizontal</v-icon>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{ `${$t('Core.More')}... (${locations.length}/${locations_meta.total})` }}  </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-select>
      </v-col>
      <v-col v-else cols="12" sm="12" lg="6">
        <v-input
          :messages="[ $t('Input.Location').capitalize() ]"
          :error-messages="errors.collect( 'location_id' )"
          :error="form.errors.has('location_id')"
          prepend-icon="mdi-dots-horizontal"
          :label="location.name"
        >
        </v-input>
      </v-col>
      <!-- Name -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model="form.name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="name"
          id="name"
        />
      </v-col>
      <!-- Upz Code -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model="form.upz_code"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'upz_code' )"
          :label="$t('Input.UpzCode').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="upz_code"
          id="upz_code"
        />
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Upz} from "@/models/services/Scheme/Upz";

  export default {
    name: "UpzForm",
    props: {
      data: {
        type: Object,
        default: () => new Upz().data()
      },
      location: {
        type: Object,
        default: () => ({})
      }
    },
    created: function () {
      this.form = new Upz( this.data );
      this.getLocations();
      this.form.location_id = this.location.id;
    },
    data: () => ({
      form: new Upz(),
      current: 1,
      next: 2,
      isEditing: false
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            let form = this.data.id ? this.form.update(this.data.id) : this.form.store();
            form
              .then(({data}) => this.notifyOnSuccess(data))
              .then(() => this.$validator.reset())
              .then(() => this.$bus.$emit('refreshUpz'))
              .catch(error => {
                if (error.message) {
                  this.notifyOnError(error.message)
                }
              })
          }
        })
      },
      onLoadMore: function () {
        if ( this.locations.length < this.locations_meta.total ) {
          this.current = this.locations_meta.current_page;
          this.next = this.current + 1;
          if ( this.next <= this.locations_meta.last_page ) {
            this.getLocations( { params: { page: this.next, order: [ true ], per_page: 30 } } )
          }
        }
      }
    },
    watch: {
      data: function ( data ) {
        this.form = new Upz( data );
      }
    }
  }
</script>

<style scoped>

</style>
