<template>
  <div>
    <v-data-table class="mt-6" :headers="columns" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }"
                  :items="records" show-expand item-key="id" :loading="isLoading"
                  :options.sync="pagination"  :server-items-length="total" :loading-text="$t('Core.Loading')" >

      <template v-slot:top>

        <v-toolbar class="elevation-0" :class="[{'mb-12': responsive}]">
          <v-row>
            <v-col cols="12" class="text-right" sm="12" lg="4">
              <slot name="header"></slot>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         class="mr-2 my-2"
                         @click="getRecords"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>
              <v-menu bottom right>
                <template v-slot:activator="{ on }">
                  <v-btn class="mr-2 my-2 hidden-md-and-up" color="info" :loading="isLoading" :disabled="isLoading" fab small v-on="on">
                    <v-icon >mdi-account-multiple</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item v-for="item in professionals" :key="item.id" @click="onProfessional(item.id)">
                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
            <v-col cols="12" class="text-right hidden-sm-and-down" sm="12" lg="4">
              <v-autocomplete
                v-model.number="professional"
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                :items="professionals"
                id="professional_id"
                name="professional_id"
                item-text="name"
                :search-input.sync="search"
                hide-details
                @change="getRecords"
                hide-selected
                item-value="id"
                class="mr-1 my-2"
                prepend-icon="mdi-account-multiple"
                :label="$t('Input.Professional').capitalize()"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" class="text-right" sm="12" lg="4">
              <v-text-field
                v-model="query"
                append-icon="mdi-magnify"
                class="ml-auto mr-2 my-2"
                :label="$t('Input.Search')"
                hide-details
                clearable
                single-line
              />
            </v-col>
          </v-row>
        </v-toolbar>

      </template>

      <template  v-slot:no-data>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

      <template v-slot:item.action="{ item }">

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn color="red" v-on="on" x-small v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" icon @click="onCancel(item)">
              <v-icon>
                mdi-close
              </v-icon>
            </v-btn>
          </template>
          <span>{{$t('Core.Cancel')}}</span>
        </v-tooltip>


        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn color="info" v-on="on" x-small v-if="item.professional === $user.id" :disabled="item.deleted_at !== null" icon @click="onReprogram(item)">
              <v-icon>
                mdi-history
              </v-icon>
            </v-btn>
          </template>
          <span>{{$t('Input.Reprogram').capitalize()}}</span>
        </v-tooltip>

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn color="warning" v-on="on" x-small icon @click="onDetails(item)">
              <v-icon>
                mdi-text-subject
              </v-icon>
            </v-btn>
          </template>
          <span>{{$t('Core.Details')}}</span>
        </v-tooltip>

      </template>

      <template v-slot:item.status="{ item }">
        <v-chip color="red" v-if="item.deleted_at" small class="white--text">{{ $t('Dashboard.Canceled') }}</v-chip>
        <v-chip color="success" small v-else>{{ $t('Dashboard.Active') }}</v-chip>
      </template>

      <template v-slot:expanded-item="items">
        <td colspan="7" class="is-left">
          <ul v-if="items.item.who_cancel">
            <li> <p class="font-weight-bold">{{ $t('Input.WhoCancel?').capitalize() }}: </p>  <p>{{ items.item.who_cancel }}</p> </li>
          </ul>
          <ul v-if="items.item.reason_for_cancellation">
            <li> <p class="font-weight-bold">{{ $t('Input.Reason').capitalize() }}: </p>  <p>{{ items.item.reason_for_cancellation }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Professional').capitalize() }}: </p>  <p>{{ items.item.professional_name }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.CreatedAt').capitalize() }}: </p>  <p>{{ items.item.created_at }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.UpdatedAt').capitalize() }}: </p>  <p>{{ items.item.updated_at }}</p> </li>
          </ul>
          <ul v-if="items.item.deleted_at">
            <li> <p class="font-weight-bold">{{ $t('Input.CanceledAt').capitalize() }}: </p>  <p>{{ items.item.deleted_at }}</p> </li>
          </ul>
        </td>
      </template>

    </v-data-table>
    <cancel-event  :show="cancel_dialog" :on-close="onClose" :form="form" :id="selectedEvent.id"></cancel-event>
    <reprogram-event :is-attention="true" :show="reprogram_dialog" :on-close="onClose" :form="form" :id="selectedEvent.id"></reprogram-event>
  </div>
</template>

<script>
  import {CitizenAttention} from "@/models/services/CitizenAttention";

  export default {
    name: "CitizenAttentionTable",
    components: {
      CancelEvent: () => import('@/views/dashboard/Events/CancelEvent'),
      ReprogramEvent: () => import('@/views/dashboard/Events/ReprogramEvent'),
    },
    data: vm => ({
      total: 0,
      pagination: {},
      expand: false,
      query: null,
      trashed: null,
      selectedEvent: {},
      cancel_dialog: false,
      reprogram_dialog: false,
      form: new CitizenAttention(),
      professionals: [],
      professional: null,
      search: null,
      records: [],
      columns: [
        { text: '#', width: '100', value: 'id', sortable: true },
        { text: vm.$t('Input.Place').capitalize(), value: 'place', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.ExecutionDate').capitalize(), value: 'execution_date', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.WorkingDay').capitalize(), value: 'citizen_attention_schedule', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Input.Status').capitalize(), value: 'status', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false }
      ]
    }),
    created: function () {
      this.getRecords();
      this.getProfessionals();
    },
    mounted: function () {
      this.$bus.$on('refreshSource', this.getRecords)
    },
    methods: {
      getProfessionals: function () {
        this.professionals = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals.length < 1 ) {
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals = response)
            .catch(error => this.notifyOnError(error.message))
        }
      },
      getRecords: _.debounce(function () {
        const { sortBy, sortDesc, page, itemsPerPage } = this.pagination;
        const query = this.query;
        const professional = this.professional;
        const withTrashed = this.trashed;
        this.loading = true;

        (new CitizenAttention()).index( { params: { per_page: itemsPerPage, order: sortDesc, column: sortBy, query: query, page: page, trashed: withTrashed, professional: professional } } )
          .then(response => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      onCancel: function (event) {
        const open = () => {
          this.selectedEvent = event;
          this.selectedEvent.date = event.execution_date;
          this.selectedEvent.reason = event.reason_for_cancellation;
          setTimeout(() => this.cancel_dialog = true, 10)
        }
        if (this.cancel_dialog) {
          this.cancel_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onReprogram: function (event) {
        const open = () => {
          this.selectedEvent = event;
          this.selectedEvent.date = event.execution_date;
          this.selectedEvent.reason = event.reason_for_cancellation;
          this.selectedEvent.working_day = event.citizen_attention_schedule_id;
          this.form = new CitizenAttention(this.selectedEvent);
          setTimeout(() => this.reprogram_dialog = true, 10)
        }
        if (this.reprogram_dialog) {
          this.reprogram_dialog = false
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onDetails: function ( event ) {
        this.selectedEvent = event;
        this.selectedEvent.date = event.execution_date;
        this.selectedEvent.reason = event.reason_for_cancellation;
        this.selectedEvent.working_day = event.citizen_attention_schedule_id;

        this.$router.push({name: 'CitizenAttentionDetails', params: { id: this.selectedEvent.id, event: this.selectedEvent } })
      },
      onClose: function () {
        this.selectedEvent = {};
        this.cancel_dialog = false;
        this.reprogram_dialog = false;
      },
      onProfessional: function (id) {
        if ( id ) {
          this.professional = id;
        } else {
          this.professional = null;
        }
        this.getRecords();
      }
    },
    watch: {
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true,
      },
      query: function () {
        this.getRecords()
      }
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshSource');
    }
  }
</script>

<style scoped>

</style>