<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12">
        <span class="subheading"><v-icon>mdi-format-list-bulleted</v-icon> {{ $t('Input.Activities').capitalize() }}</span>
        <v-chip-group column disabled active-class="info">
          <v-chip filter outlined :value="item.id" :key="item.id" v-for="item in activities">
            <v-icon left>mdi-format-list-numbered</v-icon> {{ item.activity }}
          </v-chip>
        </v-chip-group>
      </v-col>
      <v-col cols="12" sm="12">
        <span class="subheading"><v-icon>mdi-format-list-numbered</v-icon> {{ $t('Input.Themes').capitalize() }}</span>
        <v-chip-group column disabled active-class="info">
          <v-chip filter outlined :value="item.id" :key="item.id" v-for="item in themes">
            <v-icon left>mdi-format-list-numbered</v-icon> {{ item.theme }}
          </v-chip>
        </v-chip-group>
      </v-col>
      <v-col cols="12">
        <span class="subheading"><v-icon>mdi-note-text</v-icon> {{ $t('Input.OtherThemes').capitalize() }}</span>
        <p :key="item.id" v-for="item in themes" v-if="item.other" class="text-justify">
          {{ item.other }}
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: "DetailsTable",
    props: {
      activities: {
        type: [Array, Object],
        default: () => ([])
      },
      themes: {
        type: [Array, Object],
        default: () => ([])
      }
    },
  }
</script>

<style scoped>

</style>