<template>
  <div>
    <v-data-table class="mt-6" :headers="columns" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }"
                  :items="records" show-expand item-key="id" :loading="isLoading" dense
                  :options.sync="pagination"  :server-items-length="total" :loading-text="$t('Core.Loading')" >

      <template v-slot:top>

        <v-toolbar class="elevation-0" :class="[{'mb-12': responsive}]">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="info"
                     v-if="withCreateBtn"
                     class="mr-2 my-2"
                     @click="dialog_form = true"
                     :loading="isLoading"
                     :disabled="isLoading"
                     v-on="on"
                     fab
                     small>
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Create')}}</span>
          </v-tooltip>
          <slot name="header"></slot>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="info"
                     class="mr-2 my-2"
                     @click="getRecords"
                     :loading="isLoading"
                     :disabled="isLoading"
                     v-on="on"
                     fab
                     small>
                <v-icon>mdi-reload</v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Refresh')}}</span>
          </v-tooltip>
        </v-toolbar>

      </template>

      <template  v-slot:no-data>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>

      <template v-slot:no-results>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>

      <template v-slot:item.action="{ item }">

        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <v-btn color="red" v-on="on" x-small icon @click="onDelete(item)">
              <v-icon>
                mdi-close
              </v-icon>
            </v-btn>
          </template>
          <span>{{$t('Core.Delete')}}</span>
        </v-tooltip>

      </template>

      <template v-slot:expanded-item="items">
        <td colspan="7" class="is-left">
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.f_0_5').capitalize() }}: </p>  <p>{{ items.item.f_0_5 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.f_6_12').capitalize() }}: </p>  <p>{{ items.item.f_6_12 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.f_13_17').capitalize() }}: </p>  <p>{{ items.item.f_13_17 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.f_18_26').capitalize() }}: </p>  <p>{{ items.item.f_18_26 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.f_27_59').capitalize() }}: </p>  <p>{{ items.item.f_27_59 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.f_60_more').capitalize() }}: </p>  <p>{{ items.item.f_60_more }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.m_0_5').capitalize() }}: </p>  <p>{{ items.item.m_0_5 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.m_6_12').capitalize() }}: </p>  <p>{{ items.item.m_6_12 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.m_13_17').capitalize() }}: </p>  <p>{{ items.item.m_13_17 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.m_18_26').capitalize() }}: </p>  <p>{{ items.item.m_18_26 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.m_27_59').capitalize() }}: </p>  <p>{{ items.item.m_27_59 }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.m_60_more').capitalize() }}: </p>  <p>{{ items.item.m_60_more }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Observations').capitalize() }}: </p>  <p>{{ items.item.observation }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.CreatedAt').capitalize() }}: </p>  <p>{{ items.item.created_at }}</p> </li>
          </ul>
        </td>
      </template>

      <template v-slot:body.append="{ headers }">
        <tr>
          <td :colspan="headers.length" class="text-right">
            <h1 class="title font-weight-bold">Total: {{ total_exec }}</h1>
          </td>
        </tr>
      </template>

    </v-data-table>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="onClose">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_form" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random">

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ $t('Dashboard.RegisterExecution') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="dialog_form = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="mb-0">
          <v-container>
            <execution-form></execution-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  import {Execution} from "@/models/services/Execution";

  export default {
    name: "ExecutionTable",
    props: {
      withCreateBtn: {
        default: false
      }
    },
    components: {
      ExecutionForm: () => import("@/views/dashboard/Forms/AttendanceForm"),
    },
    data: vm => ({
      dialog: false,
      dialog_form: false,
      total_exec: 0,
      total: 0,
      pagination: {},
      form: new Execution(vm.$route.params.id),
      records: [],
      columns: [
        { text: '#', width: '100', value: 'id', sortable: true },
        { text: vm.$t('Input.Entity').capitalize(), value: 'entity', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.TypeOfPopulation').capitalize(), value: 'type_of_population', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.Situation').capitalize(), value: 'situation', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.Condition').capitalize(), value: 'condition', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Input.Subtotal').capitalize(), value: 'subtotal', width: '126', align: 'center', sortable: false },
        { text: vm.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false }
      ],
      id: null
    }),
    created: function () {
      this.getRecords();
    },
    mounted: function () {
      this.$bus.$on('refreshSource', this.getRecords)
    },
    methods: {
      getRecords: _.debounce(function () {
        this.total_exec = 0;
        this.form.index()
          .then(response => {
            this.records = response.data;
            this.records.map( r => {
              this.total_exec += r.subtotal
            });
            this.total = response.data.length;
          })
          .catch(error => this.notifyOnError( error.message ))
      }, 700),
      onDelete: function (event) {
        this.id = event.id;
        this.dialog = true;
      },
      onConfirm: function () {
        this.form.destroy( this.id )
          .then(response => this.notifyOnSuccess(response.data))
          .catch(error => this.notifyOnError(error.message))
          .finally(() => this.onClose())
      },
      onClose: function () {
        this.id = null;
        this.dialog = false;
      }
    },
    watch: {
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true,
      }
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshSource');
    }
  }
</script>

<style scoped>

</style>