<template>
  <v-container>
    <v-row>
      <v-col v-if="files.length > 0" cols="12" class="mx-auto" sm="12" lg="8">
        <v-list three-line subheader dense>
          <v-subheader>
            <v-spacer></v-spacer>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       v-if="withCreateBtn"
                       class="mr-2 my-2"
                       @click="dialog_form = true"
                       :loading="isLoading"
                       :disabled="isLoading"
                       v-on="on"
                       fab
                       small>
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Create')}}</span>
            </v-tooltip>
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn color="info"
                       class="mr-2 my-2"
                       @click="getRecords"
                       :loading="isLoading"
                       :disabled="isLoading"
                       v-on="on"
                       fab
                       small>
                  <v-icon>mdi-reload</v-icon>
                </v-btn>
              </template>
              <span>{{$t('Core.Refresh')}}</span>
            </v-tooltip>
          </v-subheader>
          <v-list-item
            v-for="item in files"
            :key="item.id"
          >
            <v-list-item-avatar>
              <v-icon>mdi-file-chart</v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="item.file_type"></v-list-item-title>
              <v-list-item-subtitle>
                <v-btn color="info"  x-small :href="item.path" target="_blank">
                  <v-icon left>
                    mdi-cloud-download
                  </v-icon>
                  {{ item.file_name }}
                </v-btn>
                &mdash; {{ item.created_at }}
              </v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="red" v-on="on" small icon @click="onDelete(item)">
                    <v-icon>
                      mdi-close
                    </v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Delete')}}</span>
              </v-tooltip>
            </v-list-item-action>
          </v-list-item>
          <v-divider inset></v-divider>
        </v-list>
      </v-col>
      <v-col cols="12" sm="12" v-else>
        <core-empty-state class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
          <v-btn color="info" @click="getRecords" :loading="isLoading" :disabled="isLoading">
            <v-icon left>mdi-reload</v-icon> {{ $t('Core.Refresh') }}
          </v-btn>
          <v-btn color="info" outlined @click="dialog_form = true" v-if="withCreateBtn" :loading="isLoading" :disabled="isLoading">
            <v-icon left>mdi-plus</v-icon> {{ $t('Core.Create') }}
          </v-btn>
        </core-empty-state>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="onClose">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_form" hide-overlay  fullscreen transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar class="elevation-0" color="bg-info" src="https://picsum.photos/1920/1080?random">

          <template v-slot:img="{ props }">
            <v-img
              v-bind="props"
              gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
            ></v-img>
          </template>

          <v-toolbar-title>
            {{ $t('Dashboard.RegisterExecution') }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn icon @click="dialog_form = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="mb-0">
          <v-container>
            <file-form></file-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>
  import {ProgrammingFile} from "@/models/services/ProgrammingFile";

  export default {
    name: "FilesTable",
    props: {
      withCreateBtn: {
        default: false
      }
    },
    components: {
      FileForm: () => import("@/views/dashboard/Forms/FilesForm"),
    },
    data: vm => ({
      dialog: false,
      dialog_form: false,
      id: null,
      files: [],
      form: new ProgrammingFile( vm.$route.params.id )
    }),
    created() {
      this.getRecords();
    },
    mounted: function () {
      this.$bus.$on('refreshFiles', this.getRecords)
    },
    methods: {
      getRecords: _.debounce(function () {
        this.form.index()
          .then(response => this.files = response.data)
          .catch(error   => this.notifyOnError(error.message))
      }, 700),
      onDelete: function (event) {
        this.id = event.id;
        this.dialog = true;
      },
      onConfirm: function () {
        this.form.destroy( this.id )
          .then(response => this.notifyOnSuccess(response.data))
          .then(() => this.getRecords())
          .catch(error => this.notifyOnError(error.message))
          .finally(() => this.onClose())
      },
      onClose: function () {
        this.id = null;
        this.dialog = false;
      }
    },
    beforeDestroy: function() {
      this.$bus.$off('refreshFiles');
    }
  }
</script>

<style scoped>

</style>