.v-calendar-weekly__day-label .v-btn {
  font-size: 12px;
  text-transform: none;
  border-radius: 50%;
  padding: .40625rem 1.25rem !important;
  &.primary {
    @include button-color($brand-primary);
  }
}

.v-calendar-daily_head-day-label .v-btn {
  font-size: 12px;
  text-transform: none;
  border-radius: 50%;
  padding: .40625rem 1.25rem !important;
  &.primary {
    @include button-color($brand-primary);
  }
}

@media only screen and (max-width: 767px)  {
  .v-calendar-weekly__day-label .v-btn {
    font-size: 12px;
    text-transform: none;
    border-radius: 50%;
    padding: 0 0 !important;
    &.primary {
      @include button-color($brand-primary);
    }
  }
  .v-calendar-daily_head-day-label .v-btn {
    font-size: 12px;
    text-transform: none;
    border-radius: 50%;
    padding: 0 0 !important;
    &.primary {
      @include button-color($brand-primary);
    }
  }
  /*
  .v-btn--fab.v-size--small {
    height: 20px;
    width: 20px;
  }
  .v-btn--fab.v-size--default {
    height: 20px;
    width: 20px;
  }
   */
}

.v-picker--date {
  .v-date-picker-table {
    position: relative;
    padding: 0 12px;
    height: auto;
    &--month {
      .v-btn {
        padding: 0;
        border-radius: 2%;
      }
    }
    &--date {
      .v-btn {
        padding: 0;
        border-radius: 50%;
        .v-btn--outlined {
          border-radius: 50%;
        }
      }
    }
  }
}

@include calendar-event-color('primary', $brand-info, $cyan-400, $cyan-600);
@include calendar-event-color('info', $brand-info, $cyan-400, $cyan-600);
@include calendar-event-color('red', $brand-danger, $red-400, $red-600);
@include calendar-event-color('danger', $brand-danger, $red-400, $red-600);
@include calendar-event-color('green', $brand-success, $green-400, $green-600);
@include calendar-event-color('success', $brand-success, $green-400, $green-600);
@include calendar-event-color('orange', $brand-warning, $orange-400, $orange-600);
@include calendar-event-color('warning', $brand-warning, $orange-400, $orange-600);
@include calendar-event-color('purple', $purple, $purple-400, $purple-600);
@include calendar-event-color('pink', $brand-rose, $pink-400, $pink-600);
@include calendar-event-color('grey', $grey, $grey-700, $grey-800);
@include calendar-event-color('black', $grey-800, $grey-900, rgba(0, 0, 0, 1));
