.theme--light.application {
  background: $body-color;
}

a {
  text-transform: none;
  text-decoration: none;
}

html {
  font-size: $font-size-general + 2!important;
}

.category {
  font-size: $font-size-general;
}

.theme--light.v-icon {
  color: $gray-light;
}
.theme--dark.v-icon {
  color: $white;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;

  p {
    font-style: italic;
    color: $blockquote-color;
    font-weight: $font-weight-bolder;
  }

  small {
    font-size: 70%;
  }
}

b,
strong {
  font-size: $font-size-small;
  font-weight: $font-weight-bolder;
}

.v-list--three-line .v-list__tile {
  height: auto;
}

body {
  background-color: #EEEEEE;
  letter-spacing: unset;
  font-size: 1rem;
  color: $black-color;
  line-height: 1.5em;
}

.main{
  background: #FFFFFF;
  position: relative;
  /*z-index: 3;*/
}

.main-raised{
  margin: -60px 30px 0px;
  border-radius: $border-radius-base * 2;
  @include shadow-16dp();
}

.wrapper{
  &.wrapper-full-page{
    height: auto;
    min-height: 100vh;
  }
}

.header-filter{
  position: relative;

  &:before,
  &:after{
    position: absolute;
  /*z-index: 1;*/
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
  }

  .layout{
    /*z-index: 2;*/
    position: relative;
  }
}

@include drawer-active-colors('primary', $brand-primary);
@include drawer-active-colors('success', $brand-success);
@include drawer-active-colors('danger', $brand-danger);
@include drawer-active-colors('info', $brand-info);
@include drawer-active-colors('warning', $brand-warning);

@media (max-width: 991px) {
  .main-raised{
    margin: -60px 5px 0px;
  }
}