.v-toolbar {
  @include toolbar-colors('bg-danger', $brand-danger);
  @include toolbar-colors('bg-warning', $brand-warning);
  @include toolbar-colors('bg-primary', $brand-primary);
  @include toolbar-colors('bg-info', $brand-info);
  @include toolbar-colors('bg-success', $brand-success);
  @include toolbar-colors('bg-default', $gray-light);

  &[class*="bg-"] {
    .v-toolbar__title,
    .v-btn__content,
    .v-app-bar__nav-icon,
    .v-ripple__container {
      color: $white !important;
    }
  }

}

.theme--dark.v-toolbar.white {
  color: $black !important;
  .v-btn__content {
    color: $black !important;
  }
  .v-icon {
    color: $black !important;
  }
}