<template>
  <v-card>
    <v-card-title>
      <span class="headline">Normalizador de Direcciones</span>
    </v-card-title>
    <v-card-text>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="12" class="mx-auto">
          <v-text-field
            v-model="address"
            readonly
            prepend-icon="mdi-dots-horizontal"
            name="address"
            id="address"
            append-outer-icon="mdi-backspace"
            @click:append-outer="onDelete"
          />
        </v-col>
        <v-col cols="12" lg="6" sm="12" class="mx-auto">
          <v-text-field
            v-model="complement"
            clearable
            prepend-icon="mdi-dots-horizontal"
            :label="$t('Input.Complement').capitalize()"
            append-outer-icon="mdi-send"
            @click:append-outer="onPress( complement )"
            name="complement"
            id="complement"
          />
        </v-col>
        <v-col cols="12" sm="12" md="12">
          <h2 class="title mb-2">Números</h2>
          <v-btn class="ma-2" small rounded @click="onPress(value, true)" outlined v-for="(value, index) in numbers" :value="value" :key="index">{{ value }}</v-btn>
          <v-divider></v-divider>
          <h2 class="title mb-2">Letras</h2>
          <v-btn class="ma-2" small rounded @click="onPress(letter.id)" outlined v-for="(letter, index) in letters" :value="letter.id" :key="index">{{ letter.name }}</v-btn>
          <v-divider></v-divider>
          <h2 class="title mb-2">Nomenclaturas Frecuentes</h2>
          <v-btn class="ma-2" small @click="onPress(frequent.id)"  outlined v-for="(frequent, index) in frequents" :value="frequent.id" :key="index">{{ frequent.name }}</v-btn>
          <v-divider></v-divider>
          <h2 class="title mb-2">Cuadrante</h2>
          <v-btn class="ma-2" small @click="onPress(quadrant.id)"  outlined v-for="(quadrant, index) in quadrants" :value="quadrant.id" :key="index">{{ quadrant.name }}</v-btn>
          <v-divider></v-divider>
          <h2 class="title mb-2">Nomenclaturas</h2>
          <v-btn class="ma-2" small @click="onPress(type.id)"  outlined v-for="(type, index) in types" :value="type.id" :key="index">{{ type.name }}</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
      <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: "DirectionsForm",
    data: () => ({
      dialog: false,
      types: [
        {id: "AD", name: "ADMINISTRACION"},
        {id: "AG", name: "AGENCIA"},
        {id: "AGP", name: "AGRUPACION"},
        {id: "AK", name: "AVENIDA CARRERA"},
        {id: "AL", name: "ALTILLO"},
        {id: "ALM", name: "ALMACEN"},
        {id: "AP", name: "APARTAMENTO"},
        {id: "APTDO", name: "APARTADO"},
        {id: "AUT", name: "AUTOPISTA"},
        {id: "AV", name: "AVENIDA"},
        {id: "BG", name: "BODEGA"},
        {id: "BL", name: "BLOQUE"},
        {id: "BLV", name: "BOULEVAR"},
        {id: "BRR", name: "BARRIO"},
        {id: "CA", name: "CASA"},
        {id: "CC", name: "CENTRO COMERCIAL"},
        {id: "CD", name: "CIUDADELA"},
        {id: "CEL", name: "CELULA"},
        {id: "CIR", name: "CIRCULAR"},
        {id: "CL", name: "CALLE"},
        {id: "CN", name: "CAMINO"},
        {id: "CON", name: "CONJUNTO RESIDENCIAL"},
        {id: "CONJ", name: "CONJUNTO"},
        {id: "CR", name: "CARRERA"},
        {id: "CRR", name: "CORREGIMIENTO"},
        {id: "CRT", name: "CARRETERA"},
        {id: "CRV", name: "CIRCUNVALAR"},
        {id: "CS", name: "CONSULTORIO"},
        {id: "DG", name: "DIAGONAL"},
        {id: "DP", name: "DEPOSITO"},
        {id: "DPTO", name: "DEPARTAMENTO"},
        {id: "DS", name: "DEPOSITO SOTANO"},
        {id: "ED", name: "EDIFICIO"},
        {id: "EN", name: "ENTRADA"},
        {id: "ESQ", name: "ESQUINA"},
        {id: "ESTE", name: "ESTE"},
        {id: "ET", name: "ETAPA"},
        {id: "EX", name: "EXTERIOR"},
        {id: "FCA", name: "FINCA"},
        {id: "GJ", name: "GARAJE"},
        {id: "GS", name: "GARAJE SOTANO"},
        {id: "HC", name: "HACIENDA"},
        {id: "IN", name: "INTERIOR"},
        {id: "KM", name: "KILOMETRO"},
        {id: "LC", name: "LOCAL"},
        {id: "LM", name: "LOCAL MEZZANINE"},
        {id: "LT", name: "LOTE"},
        {id: "MCP", name: "MUNICIPIO"},
        {id: "MD", name: "MODULO"},
        {id: "MN", name: "MEZZANINE"},
        {id: "MZ", name: "MANZANA"},
        {id: "NORTE", name: "NORTE"},
        {id: "O", name: "ORIENTE"},
        {id: "OCC", name: "OCCIDENTE"},
        {id: "OESTE", name: "OESTE"},
        {id: "OF", name: "OFICINA"},
        {id: "P", name: "PISO"},
        {id: "PA", name: "PARCELA"},
        {id: "PD", name: "PREDIO"},
        {id: "PH", name: "PENTHOUSE"},
        {id: "PI", name: "PARQUE INDUSTRIAL"},
        {id: "PJ", name: "PASAJE"},
        {id: "PL", name: "PLANTA"},
        {id: "PN", name: "PUENTE"},
        {id: "POR", name: "PORTERIA"},
        {id: "PQ", name: "PARQUEADERO"},
        {id: "PS", name: "PASEO"},
        {id: "PT", name: "PUESTO"},
        {id: "SA", name: "SALON"},
        {id: "SC", name: "SALON COMUNAL"},
        {id: "SEC", name: "SECTOR"},
        {id: "SL", name: "SOLAR"},
        {id: "SM", name: "SUPERMANZANA"},
        {id: "SS", name: "SEMISOTANO"},
        {id: "ST", name: "SOTANO"},
        {id: "SU", name: "SUITE"},
        {id: "SUR", name: "SUR"},
        {id: "TER", name: "TERMINAL"},
        {id: "TO", name: "TORRE"},
        {id: "TV", name: "TRANSVERSAL"},
        {id: "TZ", name: "TERRAZA"},
        {id: "UN", name: "UNIDAD"},
        {id: "UR", name: "UNIDAD RESIDENCIAL"},
        {id: "URB", name: "URBANIZACION"},
        {id: "VDA", name: "VEREDA"},
        {id: "VTE", name: "VARIANTE"},
        {id: "ZF", name: "ZONA FRANCA"},
        {id: "ZN", name: "ZONA"},
        {id: "OTRA", name: "OTRA NOMENCLATURA"},
        {id: "ADL", name: "ADLANTE"},
        {id: "ALD", name: "AL LADO"},
        {id: "ATR", name: "ATRAS"},
        {id: "CAS", name: "CASERIO"},
        {id: "CEN", name: "CENTRO"},
        {id: "CS", name: "COSULTORIO"},
        {id: "CRR", name: "CORREGIMIENTO"},
        {id: "ESC", name: "ESCALERA"},
        {id: "HG", name: "HANGAR"},
        {id: "IP", name: "INSPECCION DE POLICIA"},
        {id: "IPD", name: "INSPECCION DEPARTAMENTAL"},
        {id: "IPM", name: "INSPECCION MUNICIPAL"},
        {id: "MJ", name: "MOJON"},
        {id: "MLL", name: "MUELLE"},
        {id: "PRJ", name: "PARAJE"},
        {id: "PW", name: "PARK WAY"},
        {id: "PAR", name: "PARQUE"},
        {id: "POS", name: "POSTE"},
        {id: "RP", name: "ROUND POINT"},
        {id: "SA", name: "SALON"},
        {id: "SC", name: "SALON COMUNAL"},
        {id: "VIA", name: "VIA"},
      ],
      quadrants: [
        {id: "NORTE", name: "NORTE"},
        {id: "SUR", name: "SUR"},
        {id: "ESTE", name: "ESTE"},
        {id: "SURESTE", name: "SURESTE"},
        {id: "NORESTE", name: "NORESTE"},
        {id: "OESTE", name: "OESTE"},
        {id: "SUROESTE", name: "SUROESTE"},
        {id: "NOROESTE", name: "NOROESTE"},
        {id: "ORIENTE", name: "ORIENTE"},
        {id: "SURORIENTE", name: "SURORIENTE"},
        {id: "NORORIENTE", name: "NORORIENTE"},
        {id: "OCCIDENTE", name: "OCCIDENTE"},
        {id: "SUROCCIDENTE", name: "SUROCCIDENTE"},
        {id: "NOROCCIDENTE", name: "NOROCCIDENTE"},
      ],
      frequents: [
        {id: "AK", name: "AVENIDA CARRERA"},
        {id: "AUT", name: "AUTOPISTA"},
        {id: "AV", name: "AVENIDA"},
        {id: "CL", name: "CALLE"},
        {id: "CR", name: "CARRERA"},
        {id: "CRV", name: "CIRCUNVALAR"},
        {id: "DG", name: "DIAGONAL"},
        {id: "TV", name: "TRANSVERSAL"},
        {id: "VTE", name: "VARIANTE"},
        {id: "PAR", name: "PARQUE"},
        {id: "VIA", name: "VIA"},
      ],
      letters: [
        {id: "#", name: "#"},
        {id: "-", name: "-"},
        { id: "A", name: "A" },
        { id: "B", name: "B" },
        { id: "C", name: "C" },
        { id: "D", name: "D" },
        { id: "E", name: "E" },
        { id: "F", name: "F" },
        { id: "G", name: "G" },
        { id: "H", name: "H" },
        { id: "I", name: "I" },
        { id: "J", name: "J" },
        { id: "K", name: "K" },
        { id: "L", name: "L" },
        { id: "M", name: "M" },
        { id: "N", name: "N" },
        { id: "Ñ", name: "Ñ" },
        { id: "O", name: "O" },
        { id: "P", name: "P" },
        { id: "Q", name: "Q" },
        { id: "R", name: "R" },
        { id: "S", name: "S" },
        { id: "T", name: "T" },
        { id: "U", name: "U" },
        { id: "V", name: "V" },
        { id: "W", name: "W" },
        { id: "X", name: "X" },
        { id: "Y", name: "Y" },
        { id: "Z", name: "Z" },
      ],
      numbers: [...Array(10).keys()],
      complement: "",
      address: "",
    }),
    methods: {
      onPress: function (way, isNumber = false) {
        if ( isNumber &&  !isNaN( parseInt( this.address.substring( this.address.length -1 ) ) )) {
          this.address = (`${this.address}${way}`).trim().toUpperCase();
        } else  {
          this.address = (`${this.address} ${way}`).trim().toUpperCase();
        }
        this.complement = "";
      },
      onDelete: function () {
        this.address = this.address.substring(0, this.address.length - 1);
      }
    }
  }
</script>

<style scoped>

</style>