<template>
  <v-card
    class="mx-auto"
  >
    <v-form @submit.prevent="onSubmit">
      <v-card-title class="title font-weight-regular justify-space-between">
      <span>{{ currentTitle }}</span>
      <v-avatar
        color="primary lighten-2"
        class="subheading white--text"
        size="24"
        v-text="step"
      ></v-avatar>
    </v-card-title>
    
      <v-card-text>
          <v-row align="center" justify="center">
            <v-window v-model="step">
              <v-window-item :value="1">
                <!-- Initial Hour -->
                <v-col cols="12" sm="12" lg="4">
                  <v-dialog
                    ref="initial_hour"
                    v-model="initial_hour_dialog"
                    :return-value.sync="form.initial_hour"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="form.initial_hour"
                        :label="$t('Input.InitialHour').capitalize()"
                        v-validate="form.validations.input_time_required"
                        :error-messages="errors.collect( 'initial_hour' )"
                        :error="form.errors.has('initial_hour')"
                        prepend-icon="mdi-clock"
                        readonly
                        id="initial_hour"
                        name="initial_hour"
                        clearable
                        required
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="initial_hour_dialog"
                      :max="form.final_hour"
                      v-model="form.initial_hour"
                      ampm-in-title
                      full-width
                    >
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="initial_hour_dialog = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.initial_hour.save(form.initial_hour)">OK</v-btn>
                    </v-time-picker>
                  </v-dialog>
                </v-col>
                <!-- Final Hour -->
                <v-col cols="12" sm="12" lg="4">
                  <v-dialog
                    ref="final_hour"
                    v-model="final_hour_dialog"
                    :return-value.sync="form.final_hour"
                    persistent
                    full-width
                    width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="form.final_hour"
                        clearable
                        autocomplete="off"
                        id="final_hour"
                        name="final_hour"
                        required
                        :label="$t('Input.FinalHour').capitalize()"
                        v-validate="form.validations.input_time_required"
                        :error-messages="errors.collect( 'final_hour' )"
                        :error="form.errors.has('final_hour')"
                        prepend-icon="mdi-clock"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="final_hour_dialog"
                      :min="form.initial_hour"
                      v-model="form.final_hour"
                      ampm-in-title
                      full-width
                    >
                      <div class="flex-grow-1"></div>
                      <v-btn text color="primary" @click="final_hour_dialog = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.final_hour.save(form.final_hour)">OK</v-btn>
                    </v-time-picker>
                  </v-dialog>
                </v-col>
                <!-- Responsable -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.responsable"
                    clearable
                    :loading="isLoading"
                    :disabled="isLoading"
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'responsable' )"
                    :error="form.errors.has('responsable')"
                    :items="responsables"
                    id="responsable"
                    name="responsable"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-account"
                    :label="$t('Input.Responsable').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Companions -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.companion"
                    clearable
                    :loading="isLoading"
                    :disabled="isLoading"
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'companion' )"
                    :error="form.errors.has('companion')"
                    :items="companions"
                    id="companion"
                    name="companion"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-account-group"
                    :label="$t('Input.Responsable').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Number of Assistants -->
                <v-col cols="12" sm="12" lg="6">
                  <v-text-field
                    id="assistants"
                    prepend-icon="mdi-city"
                    name="assistants"
                    autocomplete="off"
                    type="number"
                    min="1"
                    required
                    clearable
                    :loading="isLoading"
                    :disabled="isLoading"
                    :label="$t('Input.Assistants').capitalize()"
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'assistants' )"
                    :error="form.errors.has('assistants')"
                    v-model.number="form.assistants"
                  ></v-text-field>
                </v-col>
              </v-window-item>
              <v-window-item :value="2">
                <!-- Program -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.program_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'program_id' )"
                    :error="form.errors.has('program_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="programs"
                    id="program_id"
                    name="program_id"
                    item-text="name"
                    item-value="id"
                    append-icon="mdi-refresh"
                    @click:append="clearPrograms"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Program').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Activity -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.activity_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'activity_id' )"
                    :error="form.errors.has('activity_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="activities"
                    @change="getSubActivities"
                    id="activity_id"
                    name="activity_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Activity').capitalize()"
                  ></v-select>
                </v-col>
                <!-- SubActivity -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.sub_activity_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'sub_activity_id' )"
                    :error="form.errors.has('sub_activity_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="sub_activities"
                    id="sub_activity_id"
                    name="sub_activity_id"
                    @change="getThematics"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.SubActivity').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Thematic -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.thematic_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'thematic_id' )"
                    :error="form.errors.has('thematic_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="thematics"
                    @change="getComponents"
                    id="thematic_id"
                    name="thematic_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Thematic').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Component -->
                <v-col  cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.component_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'component_id' )"
                    :error="form.errors.has('component_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="components"
                    id="component_id"
                    name="component_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Component').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Strategy -->
                <v-col  cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.strategy_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'strategy_id' )"
                    :error="form.errors.has('strategy_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="strategies"
                    id="strategy_id"
                    name="strategy_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Strategy').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Observations -->
                <v-col cols="12" sm="12" lg="12">
                  <v-textarea
                    id="observations"
                    prepend-icon="mdi-note-text"
                    name="observations"
                    required
                    autocomplete="off"
                    clearable
                    :loading="isLoading"
                    :disabled="isLoading"
                    :label="$t('Input.Observations').capitalize()"
                    v-validate="form.validations.text_required"
                    :error-messages="errors.collect( 'observations' )"
                    :error="form.errors.has('observations')"
                    :counter="form.validations.text_required.max"
                    :maxlength="form.validations.text_required.max"
                    v-model="form.observations"
                  ></v-textarea>
                </v-col>
              </v-window-item>
              <v-window-item :value="3">
                <!-- Location -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.location_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'location_id' )"
                    :error="form.errors.has('location_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="locations"
                    id="location_id"
                    name="location_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Location').capitalize()"
                    @change="onChange"
                  >
                    <template v-if="locations.length < locations_meta.total" v-slot:append-item>
                      <v-divider class="mb-2"></v-divider>
                      <v-list-item :disabled="isLoading" @click="onLoadMore">
                        <v-list-item-avatar color="grey lighten-3">
                          <v-progress-circular
                            v-if="isLoading"
                            indeterminate
                            color="primary"
                          ></v-progress-circular>
                          <v-icon v-else>mdi-dots-horizontal</v-icon>
                        </v-list-item-avatar>
          
                        <v-list-item-content>
                          <v-list-item-title>{{ `${$t('Core.More')}... (${locations.length}/${locations_meta.total})` }}  </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </template>
                  </v-select>
                </v-col>
                <!-- Upz -->
                <v-col  cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.upz_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'upz_id' )"
                    :error="form.errors.has('upz_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="upzs"
                    id="upz_id"
                    name="upz_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Upz').capitalize()"
                  >
                  </v-select>
                </v-col>
                <!-- Neighborhoods -->
                <v-col  cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.neighborhood_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'neighborhood_id' )"
                    :error="form.errors.has('neighborhood_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="neighborhoods"
                    id="neighborhood_id"
                    name="neighborhood_id"
                    item-text="name"
                    item-value="id"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.Neighborhood').capitalize()"
                  >
                  </v-select>
                </v-col>
                <!-- Neighborhoods name -->
                <v-col cols="12" sm="12" lg="6">
                  <v-text-field
                    id="neighborhood"
                    prepend-icon="mdi-map-marker"
                    autocomplete="off"
                    name="neighborhood"
                    required
                    clearable
                    :loading="isLoading"
                    :disabled="isLoading"
                    :label="$t('Input.Neighborhood').capitalize()"
                    v-validate="form.validations.input_text_required"
                    :error-messages="errors.collect( 'neighborhood' )"
                    :error="form.errors.has('neighborhood')"
                    :counter="form.validations.input_text_required.max"
                    :maxlength="form.validations.input_text_required.max"
                    v-model="form.neighborhood"
                  ></v-text-field>
                </v-col>
                <!-- Institute, Group or Community  -->
                <v-col cols="12" sm="12" lg="6">
                  <v-text-field
                    id="group"
                    prepend-icon="mdi-map-marker"
                    autocomplete="off"
                    name="group"
                    required
                    clearable
                    :loading="isLoading"
                    :disabled="isLoading"
                    :label="$t('Input.Group').capitalize()"
                    v-validate="form.validations.input_text_required"
                    :error-messages="errors.collect( 'group' )"
                    :error="form.errors.has('group')"
                    :counter="form.validations.input_text_required.max"
                    :maxlength="form.validations.input_text_required.max"
                    v-model="form.group"
                  ></v-text-field>
                </v-col>
                <!-- Population -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.population_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'population_id' )"
                    :error="form.errors.has('population_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="population_chars"
                    id="population_id"
                    name="population_id"
                    item-text="name"
                    item-value="id"
                    append-icon="mdi-refresh"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.PopulationCharacteristics').capitalize()"
                  ></v-select>
                </v-col>
                <!-- Specific Population -->
                <v-col cols="12" sm="12" lg="6">
                  <v-select
                    v-model.number="form.specific_population_id"
                    clearable
                    v-validate="form.validations.input_number_required"
                    :error-messages="errors.collect( 'specific_population_id' )"
                    :error="form.errors.has('specific_population_id')"
                    :loading="isLoading"
                    :disabled="isLoading"
                    :items="specific_population_chars"
                    id="specific_population_id"
                    name="specific_population_id"
                    item-text="name"
                    item-value="id"
                    append-icon="mdi-refresh"
                    prepend-icon="mdi-dots-horizontal"
                    :label="$t('Input.PopulationCharacteristics').capitalize()"
                  ></v-select>
                </v-col>
              </v-window-item>
              <v-window-item :value="4">
              
              </v-window-item>
              <v-window-item :value="5">
              </v-window-item>
              <v-window-item :value="6">
              </v-window-item>
              
            </v-window>
        
            <!-- Process -->
            <v-col v-if="require_process" cols="12" sm="12" lg="6">
              <v-select
                v-model="form.process_id"
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                v-validate="form.validations.input_number_required"
                :error-messages="errors.collect( 'process_id' )"
                :error="form.errors.has('process_id')"
                :items="processes"
                id="process_id"
                name="process_id"
                item-text="name"
                item-value="id"
                prepend-icon="mdi-message-processing"
                :label="$t('Input.Process').capitalize()"
              ></v-select>
            </v-col>
            <!-- Park ID -->
            <v-col cols="12" sm="12" lg="6">
              <v-autocomplete
                v-if="!park_not_found"
                v-model="form.park_id"
                return-object
                autocomplete="off"
            
                :hint="$t('Input.HintPark')"
                v-validate="form.validations.input_number_required"
                prepend-icon="mdi-pine-tree"
                clearable
                :loading="isLoading"
                hide-no-data
                hide-selected
                id="park_id"
                name="park_id"
                :error-messages="errors.collect( 'park_id' )"
                :label="$t('Input.Park').capitalize()"
                :search-input.sync="search"
                :items="parks"
                item-text="name"
                item-value="id"
                required
              ></v-autocomplete>
              <v-text-field
                v-else
                id="park"
                prepend-icon="mdi-pine-tree"
                name="park"
                :hint="$t('Input.HintNotFoundPark')"
                required
                clearable
                autocomplete="off"
                :loading="isLoading"
                :disabled="isLoading"
                :label="$t('Input.Park').capitalize()"
                v-validate="form.validations.input_text_required"
                :error-messages="errors.collect( 'park' )"
                :error="form.errors.has('park')"
                :counter="form.validations.input_text_required.max"
                :maxlength="form.validations.input_text_required.max"
                v-model="form.park"
              ></v-text-field>
        
            </v-col>
            <!-- UPZ -->
            <v-col cols="12" sm="12" lg="6">
              <v-text-field
                id="upz"
                prepend-icon="mdi-city"
                name="upz"
                autocomplete="off"
                required
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                :label="$t('Input.Upz').capitalize()"
                v-validate="form.validations.input_text_required"
                :error-messages="errors.collect( 'upz' )"
                :error="form.errors.has('upz')"
                :counter="form.validations.input_text_required.max"
                :maxlength="form.validations.input_text_required.max"
                v-model="form.upz"
              ></v-text-field>
            </v-col>
            <!-- Place -->
            <v-col cols="12" sm="12" lg="6">
              <v-text-field
                id="place"
                prepend-icon="mdi-map-marker"
                autocomplete="off"
                name="place"
                required
                clearable
                :loading="isLoading"
                :disabled="isLoading"
                :label="$t('Input.Place').capitalize()"
                v-validate="form.validations.input_text_required"
                :error-messages="errors.collect( 'place' )"
                :error="form.errors.has('place')"
                :counter="form.validations.input_text_required.max"
                :maxlength="form.validations.input_text_required.max"
                v-model="form.place"
              ></v-text-field>
            </v-col>
            <!-- Who Summons -->
            <v-col cols="12" sm="12" lg="6">
              <v-select
                v-model="form.who_summons"
                clearable
                return-object
                v-validate="form.validations.input_number_required"
                :error-messages="errors.collect( 'who_summons' )"
                :error="form.errors.has('who_summons')"
                :loading="isLoading"
                :disabled="isLoading"
                :items="summoners"
                id="who_summons"
                name="who_summons"
                item-text="name"
                item-value="id"
                prepend-icon="mdi-account-details"
                :label="$t('Input.WhoSummons?').capitalize()"
              ></v-select>
            </v-col>
            <!-- Which -->
            <v-col cols="12" sm="12" lg="6">
              <v-text-field
                id="which"
                prepend-icon="mdi-account-question"
                autocomplete="off"
                name="which"
                :required="which_required"
                clearable
                :loading="isLoading"
                :disabled="isLoading || !which_required"
                :label="$t('Input.Which?').capitalize()"
                v-validate="which_validations"
                :error-messages="errors.collect( 'which' )"
                :error="form.errors.has('which')"
                :counter="form.validations.input_text_required.max"
                :maxlength="form.validations.input_text_required.max"
                v-model="form.which"
              ></v-text-field>
            </v-col>
            <!-- Request Type -->
            <v-col cols="12" sm="12" lg="6">
              <v-select
                v-model="form.request_type_id"
                clearable
                v-validate="form.validations.input_number_required"
                :error-messages="errors.collect( 'request_type_id' )"
                :error="form.errors.has('request_type_id')"
                :loading="isLoading"
                :disabled="isLoading"
                :items="requests"
                id="request_type_id"
                name="request_type_id"
                item-text="name"
                item-value="id"
                prepend-icon="mdi-pencil"
                :label="$t('Input.RequestType').capitalize()"
              ></v-select>
            </v-col>
            
          </v-row>
      </v-card-text>
      
      <v-divider></v-divider>
    
      <v-card-actions>
        <v-btn
          :disabled="step === 1"
          text
          @click="step--"
        >
          Back
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-if="step !== 6"
          color="primary"
          depressed
          @click="step++"
        >
          Next
        </v-btn>
        <v-btn v-else type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-calendar</v-icon> {{ $t('Core.Create') }} </v-btn>
      </v-card-actions>
    
    </v-form>
    
  </v-card>
</template>

<script>
  export default {
    name: "ProgramForm",
    props: {
      date: {
        type: String,
        default: moment().format('YYYY-MM-DD')
      }
    },
    data: () => ({
      step: 1,
      form: {},
      responsables: [],
      companions: [],
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.store()
              .then(response => this.notifyOnSuccess( response.data ))
              .then(() => this.$validator.reset())
              .then(() => this.form.date = this.date)
              .catch(error => {
                if ( error.message ) {
                  this.notifyOnError(error.message)
                } else if ( this.form.errors.has('date') ) {
                  this.notifyOnError( this.form.errors.first('date') )
                }
              })
              .finally( () => this.$bus.$emit('refreshSource'))
          }
        })
      },
    },
    computed: {
      currentTitle () {
        switch (this.step) {
          case 1: return 'Programación y Asignación de la Actividad'
          case 2: return 'Datos de la Actividad'
          case 3: return 'Datos de la Comunidad'
          case 4: return 'Datos del Escenario'
          case 5: return 'Aspectos a tener en cuenta'
          default: return 'Resumen'
        }
      },
    },
  }
</script>

<style scoped>

</style>
