<template>
  <div>
    <v-data-table class="mt-6" :headers="columns" :footer-props="{ 'items-per-page-options': [5, 10, 15, 25, 50, 100] }"
                  :items="records" show-expand item-key="id" :loading="isLoading"
                  :options.sync="pagination"  :server-items-length="total" :loading-text="$t('Core.Loading')" >
      <template v-slot:top>
        <v-toolbar class="elevation-0" :class="[{'mb-12': responsive}]">
          <v-row>
            <v-col v-if="!responsive" cols="12" class="text-right" sm="12" lg="6">
              <slot name="header"></slot>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         class="mr-2 my-2"
                         @click="getData"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon>mdi-reload</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Refresh')}}</span>
              </v-tooltip>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn color="info"
                         v-if="!responsive"
                         class="mr-2 my-2"
                         @click="filter = true"
                         :loading="isLoading"
                         :disabled="isLoading"
                         v-on="on"
                         fab
                         small>
                    <v-icon >mdi-filter-variant</v-icon>
                  </v-btn>
                </template>
                <span>{{$t('Core.Filters')}}</span>
              </v-tooltip>
            </v-col>
            <v-col v-if="!thematic_id" cols="12" class="text-right" sm="12" :lg="responsive ? 12 : 6">
              <v-text-field
                v-model="query"
                append-icon="mdi-magnify"
                class="ml-auto mr-2 my-2"
                :label="$t('Input.Search')"
                hide-details
                clearable
                single-line
              />
            </v-col>
          </v-row>
        </v-toolbar>
      </template>
      <template  v-slot:no-data>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoData')">
        </core-empty-state>
      </template>
      <template v-slot:no-results>
        <core-empty-state rounded class="my-2" icon="mdi-file-find" :label="$t('Core.Empty')" :description="$t('Core.NoResults')">
        </core-empty-state>
      </template>
      <template v-slot:item.action="{ item }">
        <div v-if="!responsive">
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="warning" v-if="$auth.can( $auth.permissions.schema_activities[17] )" :disabled="!!(item.deleted_at)" v-on="on" x-small  icon @click="onEdit(item)">
                <v-icon>
                  mdi-pencil
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Edit')}}</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="success" v-if="$auth.can( $auth.permissions.schema_activities[23] )" :disabled="!!(item.deleted_at)" v-on="on" x-small  icon @click="onAddScheme(item)">
                <v-icon>
                  mdi-arrow-right
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.AddScheme')}}</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="red" v-on="on" x-small v-if="$auth.can( $auth.permissions.schema_activities[18] ) && !item.deleted_at" icon @click="onDelete(item)">
                <v-icon>
                  mdi-close
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Delete')}}</span>
          </v-tooltip>
          <v-tooltip top>
            <template v-slot:activator="{ on }">
              <v-btn color="info" v-on="on" x-small v-if="$auth.can( $auth.permissions.schema_activities[18] ) && item.deleted_at" icon @click="onRestore(item)">
                <v-icon>
                  mdi-delete-restore
                </v-icon>
              </v-btn>
            </template>
            <span>{{$t('Core.Restore')}}</span>
          </v-tooltip>
        </div>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn
              v-if="responsive"
              dense
              rounded
              color="success"
              dark
              v-on="on"
            >
              {{ $t('Core.Actions').capitalize() }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-if="$auth.can( $auth.permissions.schema_activities[17] )" :disabled="!!(item.deleted_at)" @click="onEdit(item)">
              <v-list-item-icon><v-icon>mdi-pencil</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Core.Edit')}}</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="$auth.can( $auth.permissions.schema_activities[23] )" :disabled="!!(item.deleted_at)" @click="onAddScheme(item)">
              <v-list-item-icon><v-icon>mdi-arrow-right</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Core.AddScheme')}}</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="$auth.can( $auth.permissions.schema_activities[18] ) && !item.deleted_at" @click="onDelete(item)">
              <v-list-item-icon><v-icon>mdi-close</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Core.Delete')}}</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="$auth.can( $auth.permissions.schema_activities[18] ) && item.deleted_at" @click="onRestore(item)">
              <v-list-item-icon><v-icon>mdi-delete-restore</v-icon></v-list-item-icon>
              <v-list-item-title>{{$t('Core.Restore')}}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:expanded-item="items">
        <td :colspan="items.headers.length" class="is-left">
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Program').capitalize() }}: </p>  <p>{{ items.item.program }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Activity').capitalize() }}: </p>  <p>{{ items.item.activity }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.SubActivity').capitalize() }}: </p>  <p>{{ items.item.sub_activity }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.Thematic').capitalize() }}: </p>  <p>{{ items.item.thematic }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.CreatedAt').capitalize() }}: </p>  <p>{{ items.item.created_at }}</p> </li>
          </ul>
          <ul>
            <li> <p class="font-weight-bold">{{ $t('Input.UpdatedAt').capitalize() }}: </p>  <p>{{ items.item.updated_at }}</p> </li>
          </ul>
          <ul v-if="items.item.deleted_at">
            <li> <p class="font-weight-bold">{{ $t('Input.DeletedAt').capitalize() }}: </p>  <p>{{ items.item.deleted_at }}</p> </li>
          </ul>
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Delete') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureDelete?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="dialog = false">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirm">{{ $t( 'Core.Delete' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="restore_dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ $t('Core.Restore') }}</v-card-title>
        <v-card-text>{{ $t('Core.AreYouSureRestore?') }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="red darken-1" :loading="isLoading" :disabled="isLoading" text @click="dialog = false">{{ $t('Core.Cancel') }}</v-btn>
          <v-btn color="green darken-1" :loading="isLoading" :disabled="isLoading" text @click="onConfirmRestore">{{ $t( 'Core.Restore' ) }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="filter" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">

      <v-card :style="borderStyles" class="elevation-10">
        <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
          <v-toolbar-title>
            {{ $t('Core.Filters').capitalize() }}
          </v-toolbar-title>

          <div class="flex-grow-1"></div>

          <v-btn :disabled="isLoading" icon @click="filter = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="mb-0">
          <v-form @submit.prevent="onFilter">
            <v-container>
              <v-row>
                <!-- Trashed -->
                <v-col cols="12" sm="12" lg="6">
                  <v-switch
                    v-model="trashed"
                    :label="$t('Core.Deleted')"
                  ></v-switch>
                </v-col>

                <!-- Submit -->
                <v-col cols="12" class="text-right">
                  <v-btn type="submit" color="info" :loading="isLoading" :disabled="isLoading" @submit.prevent="onFilter">
                    <v-icon left color="white">mdi-send</v-icon> {{ $t('Core.Send').capitalize() }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-speed-dial
      v-if="responsive"
      v-model="fab"
      :disabled="isLoading" :loading="isLoading"
      dark
      fixed
      bottom
      right
      fab
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="info"
          dark
          fab
        >
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-btn color="danger" small dark fab :to="{ name: 'ThematicsScheme', params: { program_id: this.$route.params.program_id, activity_id: this.$route.params.activity_id, sub_activity_id: this.$route.params.sub_activity_id , thematic_id: this.$route.params.thematic_id } }">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
      <v-btn color="warning"
             @click="getData"
             :loading="isLoading"
             :disabled="isLoading"
             dark
             fab
             small>
        <v-icon>mdi-reload</v-icon>
      </v-btn>

      <v-btn color="success"
             class="mr-2 my-2"
             @click="filter = true"
             :loading="isLoading"
             :disabled="isLoading"
             dark
             fab
             small>
        <v-icon >mdi-filter-variant</v-icon>
      </v-btn>

      <slot name="dial-create"></slot>

    </v-speed-dial>
  </div>
</template>

<script>
  import {Component} from "@/models/services/Scheme/Component";
  import {Thematic} from "@/models/services/Scheme/Thematic";

  export default {
    name: "ComponentTable",
    props: {
      thematic_id: {
        type: [Number, String],
        default: null
      },
    },
    data: vm => ({
      fab: null,
      columns: [
        { text: '#', width: '100', value: 'id', sortable: true },
        { text: vm.$t('Input.Name').capitalize(), value: 'name', width: '126', align: 'center', sortable: true },
        { text: vm.$t('Core.Actions').capitalize(), value: 'action', width: '300', align: 'center', sortable: false }
      ],
      records: [],
      total: 0,
      pagination: {},
      expand: false,
      query: null,
      loading: false,
      trashed: false,
      filter: false,
      modal: false,
      modal2: false,
      start_date: null,
      final_date: null,
      dialog: false,
      restore_dialog: false,
      selected_data: null,
    }),
    mounted: function () {
      this.$bus.$on('refreshComponents', this.getData);
    },
    methods: {
      getData: function () {
        if ( this.thematic_id ) {
          this.getByThematic( this.thematic_id );
        } else {
          this.getRecords();
        }
      },
      getRecords: _.debounce(function () {
        const { sortBy, sortDesc, page, itemsPerPage } = this.pagination;
        const query = this.query;
        const withTrashed = this.trashed;
        this.loading = true;

        let params = {
          per_page: itemsPerPage,
          order: sortDesc,
          column: sortBy,
          query: query,
          page: page,
          trashed: withTrashed,
          start_date: this.start_date,
          final_date: this.final_date
        };

        (new Component()).index( { params: params })
          .then(response => {
            this.records = response.data;
            this.total = response.meta.total;
          })
          .then(() => this.filter = false)
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      getByThematic: _.debounce(function (id) {
        const { sortBy, sortDesc, page, itemsPerPage } = this.pagination;
        const query = this.query;
        const withTrashed = this.trashed;
        this.loading = true;

        let params = {
          per_page: itemsPerPage,
          order: sortDesc,
          column: sortBy,
          query: query,
          page: page,
          trashed: withTrashed,
          only_trashed: this.only_trashed,
          start_date: this.start_date,
          final_date: this.final_date,
          paginated: true
        };
        (new Thematic()).components(id, { params: params })
          .then(response => {
            this.records = response.data;
            this.total   = response.meta.total;
          })
          .then(() => this.filter = false)
          .catch(error => this.notifyOnError( error.message ))
      }, 300),
      onEdit: function (data) {
        this.$emit('onEdit', data, 5);
      },
      onAddScheme: function (data) {
        this.$emit('onAddScheme', data, 1);
      },
      onDelete: function (data) {
        const open = () => {
          this.selected_data = data;
          setTimeout(() => this.dialog = true, 10)
        };

        if (this.dialog) {
          this.dialog = false;
          this.selected_data = null;
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onConfirm: function () {
        if ( this.selected_data ) {
          (new Component()).destroy( this.selected_data.id )
            .then((response) => this.notifyOnSuccess(response.data))
            .then(() => this.dialog = false)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.getData())
        }
      },
      onRestore: function (data) {
        const open = () => {
          this.selected_data = data;
          setTimeout(() => this.restore_dialog = true, 10)
        };

        if (this.restore_dialog) {
          this.restore_dialog = false;
          this.selected_data = null;
          setTimeout(open, 10)
        } else {
          open()
        }
      },
      onConfirmRestore: function () {
        if ( this.selected_data ) {
          (new Component()).restore( this.selected_data.id )
            .then((response) => this.notifyOnSuccess(response.data))
            .then(() => this.restore_dialog = false)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.getData())
        }
      },
      onFilter: function () {
        this.getData();
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      }
    },
    watch: {
      pagination: {
        handler () {
          this.getData();
        },
        deep: true,
      },
      query: function () {
        this.getData()
      }
    },
    beforeDestroy: function () {
      this.$bus.$off('refreshComponents');
    }
  }
</script>

<style scoped>

</style>
