<template>
  <v-container
    id="lock"
    fill-height
    tag="section"
  >
    <v-row justify="center">
      <v-slide-y-transition appear>
        <v-card
          max-width="100%"
          width="250"
        >
          <v-card-text class="text-center">
            <v-avatar
              class="mt-n12 mb-6 elevation-12"
              color="grey"
              size="88"
            >
              <v-icon size="80" color="white">mdi-account</v-icon>
            </v-avatar>

            <div class="title font-weight-light mb-3 text--darken-2 grey--text">
              {{ $user.part_name }}
            </div>

            <v-form  @submit.prevent="onSubmit">
              <v-text-field
                v-model="form.password"
                v-validate="'required'"
                :error-messages="errors.collect( $t('Input.Password') )"
                required
                :data-vv-name="$t('Input.Password')"
                prepend-icon="mdi-lock"
                id="password"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                name="password"
                :loading="loading"
                :readonly="loading"
                current-password
                @click:append.prevent="show = !show"
                :label="$t('Input.Password').capitalize()"
                :type="show ? 'text' : 'password'"></v-text-field>
              <v-btn type="submit" @submit.prevent="onSubmit" :loading="loading" :disabled="loading" class="mt-1" color="info">{{ $t('Core.Unlock') }}</v-btn>
            </v-form>
            <v-divider></v-divider>
            <v-btn text @click="onLogout" :loading="loading" :disabled="loading" class="mt-1" color="info">{{ $t('Core.ChangeAccount') }}</v-btn>
          </v-card-text>
        </v-card>
      </v-slide-y-transition>
    </v-row>
  </v-container>
</template>

<script>
  import {User} from "@/models/services/Security/User";

  export default {
    name: 'Lock',
    bodyClass: "lock-page",
    data: () => ({
      show: false,
      loading: false,
      form: {
        username: null,
        password: null,
      }
    }),
    beforeCreate: function () {
      (new User()).index()
        .then(() => this.$router.push({name: 'Home'}))
        .catch( error => {
          this.notifyOnError( error.message )
        });
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            this.loading = true;
            this.form.username = this.$user.username
            this.$auth.unlock( this.form )
              .then((response) => this.notifyOnSuccess( response.data ))
              .then(() => window.location.reload())
              .catch((error) => {
                if ( error.message ) {
                  this.notifyOnError( error.message );
                }
              })
              .finally(() => this.loading = false)
          }
        })
      },
      onLogout: function () {
        this.$auth.logout()
          .then((response) => {
            this.notifyOnSuccess( response.data )
          })
          .catch( (error)  => {
            this.notifyOnError( error.message )
          })
          .finally(() => {
            window.location.reload();
          })
      }
    }
  }
</script>
