<template>
    <v-container
      id="login"
      fill-height
      tag="section"
    >
        <v-row justify="center">
            <v-slide-y-transition appear>
                <v-form @submit.prevent="onSubmit">
                    <material-card
                      max-width="100%"
                      width="300"
                    >
                        <template v-slot:heading>
                            <div class="text-center">
                                <h4 slot="title" class="title">{{ $t( `Toolbar.${$route.name}` ) }}</h4>

                                <v-icon :rtl="$vuetify.rtl" size="36" slot="buttons" >$vuetify.icons.bogota</v-icon>
                            </div>
                        </template>

                        <v-card-text class="text-center">
                            <v-text-field
                              v-model="form.username"
                              clearable
                              v-validate="'required'"
                              prepend-icon="mdi-email"
                              :error-messages="errors.collect( 'username' )"
                              :label="$t('Input.Username').capitalize()"
                              name="username"
                              :loading="loading"
                              :readonly="loading"
                              id="username"
                              required
                            ></v-text-field>

                            <v-text-field
                              v-model="form.password"
                              v-validate="'required'"
                              :error-messages="errors.collect( 'password' )"
                              required
                              prepend-icon="mdi-lock"
                              id="password"
                              :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                              name="password"
                              :loading="loading"
                              :readonly="loading"
                              current-password
                              @click:append.prevent="show = !show"
                              :label="$t('Input.Password').capitalize()"
                              :type="show ? 'text' : 'password'"></v-text-field>

                            <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="loading" :disabled="loading" class="mt-1" color="info">{{ $t('Core.Login') }}</v-btn>

                        </v-card-text>
                    </material-card>
                </v-form>
            </v-slide-y-transition>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'Login',
        data: () => ({
            socials: [
                {
                    href: '#',
                    icon: 'mdi-facebook-box'
                },
                {
                    href: '#',
                    icon: 'mdi-twitter'
                },
                {
                    href: '#',
                    icon: 'mdi-github-box'
                }
            ],
            show: false,
            loading: false,
            form: {
                username: null,
                password: null
            }
        }),
        props: {
            source: String,
        },
        bodyClass: "login-page",
        methods: {
            onSubmit: function () {
                this.$validator.validateAll().then(isValid => {
                    if (isValid) {
                        this.loading = true;
                        //document.getElementById("login-form").submit();
                        this.$auth.login( this.form )
                          .then((response) => {
                              this.axios.defaults.headers.common['Authorization'] = `${response.token_type} ${response.access_token}`;
                              //this.$router.push({name: 'Home'})
                              this.$auth.setUser()
                                .then((response) => {
                                  window.location.reload();
                                })
                                .catch((error) => {
                                  this.loading = false;
                                  this.notifyOnError( error.message );
                                });
                          })
                          .catch((error) => {
                              this.loading = false;
                              this.notifyOnError( error.message );
                          })
                    }
                })
            }
        },
    }
</script>

<style scoped>
    .v-icon--is-component {
        height: 24px;
        width: auto;
    }
</style>
