<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <v-col cols="12" class="text-left">
        <span class="subheading"><v-icon>mdi-calendar</v-icon> {{ $t('Input.WorkingDay').capitalize() }}</span>
        <v-chip-group v-model="form.working_day" active-class="info">
          <v-chip filter outlined :value="schedule.id" :key="schedule.id" v-for="schedule in schedules">
            <v-icon left>mdi-clock</v-icon> {{ schedule.schedule }}
          </v-chip>
        </v-chip-group>
        <input type="hidden" id="working_day" name="working_day" required v-model="form.working_day" v-validate="form.validations.input_number_required">
        <div v-if="errors.has('working_day')" class="v-messages theme--light error--text">
          <div class="v-messages__wrapper">
            <div class="v-messages__message">{{ errors.first('working_day') }}</div>
          </div>
        </div>
      </v-col>
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-calendar</v-icon> {{ $t('Core.Create') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {CitizenAttention} from "@/models/services/CitizenAttention";

  export default {
    name: "CitizenAttentionForm",
    props: {
      date: {
        type: String,
        default: moment().format('YYYY-MM-DD')
      }
    },
    created: function () {
      this.form.date = this.date;
      this.getSchedules();
    },
    data: () => ({
      form: new CitizenAttention(),
      schedules: []
    }),
    methods: {
      getSchedules: function () {
        this.schedules = this.$store.getters['selects/getSchedules'];
        if ( this.schedules.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/schedules')
            .then(response => this.schedules = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      onSubmit: _.throttle(function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.store()
              .then(response => this.notifyOnSuccess( response.data ))
              .then(() => this.$validator.reset())
              .then(() => this.form.date = this.date)
              .catch(error => {
                if ( error.message ) {
                  this.notifyOnError(error.message)
                }
                if ( this.form.errors.has('date') ) {
                  this.notifyOnError( this.form.errors.first('date') )
                }
              })
              .finally( () => this.$bus.$emit('refreshSource'))
          }
        })
      }, 2000)
    },
    watch: {
      date: function ( date ) {
        this.form.date = date;
      }
    }
  }
</script>

<style scoped>

</style>