<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <v-col cols="12" lg="6" sm="12">
        <v-select
          v-model.number="form.file_type_id"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-ballot"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="file_type_id"
          name="file_type_id"
          :error-messages="errors.collect( 'file_type_id' )"
          :label="$t('Input.FileType').capitalize()"
          :items="records"
          item-text="name"
          item-value="id"
          required
        ></v-select>
      </v-col>
      <v-col cols="12" lg="6" sm="12">

        <v-file-input v-model="form.file" show-size accept=".xls,.xlsx,.doc,.docx,.pdf"
                      v-validate="form.validations.any_doc_files_required"
                      id="file"
                      name="file"
                      :loading="isLoading"
                      :readonly="isLoading"
                      required
                      :hint="`${$t('Input.File').capitalize()}: .xls, .xlsx, .doc, .docx, .pdf`"
                      :error-messages="errors.collect( 'file' )"
                      :label="$t('Input.File').capitalize()">

        </v-file-input>
      </v-col>
      <v-col cols="12">
        <v-btn type="submit" slot="footer" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" class="mt-1" color="info">
          {{ $t('Core.Create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {ProgrammingFile} from "@/models/services/ProgrammingFile";

  export default {
    name: "FilesForm",
    data: vm => ({
      form: new ProgrammingFile( vm.$route.params.id ),
      records: []
    }),
    created: function () {
      this.getFileTypes();
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.storeWithFile()
              .then((response) => this.notifyOnSuccess( response.data ))
              .then(() => this.$validator.reset())
              .catch(error => {
                if ( error.message ) {
                  this.notifyOnError( error.message );
                }
              })
              .finally(() => this.$bus.$emit('refreshFiles'))
          }
        })
      },
      getFileTypes: function () {
        this.records = this.$store.getters['selects/getFileTypes'];
        if ( this.records.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/file_types')
            .then(response => this.records = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      }
    }
  }
</script>

<style scoped>

</style>