<template>
  <v-form id="report-form" @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Start Date -->
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="startDate"
          v-model="modal"
          :return-value.sync="form.start_day"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.Date').capitalize()"
              v-validate="form.validations.input_date_required"
              :loading="isLoading"
              :disabled="isLoading"
              :error-messages="errors.collect( 'start_day' )"
              :error="form.errors.has('start_day')"
              id="start_day"
              name="start_day"
              clearable
              required
              v-model="form.start_day"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.start_day" :max="moment( form.end_day ).toISOString()" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.startDate.save(form.start_day)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>

      <!-- Final Date -->
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="endDate"
          v-model="modal2"
          :return-value.sync="form.end_day"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.Date').capitalize()"
              v-validate="form.validations.input_date_required"
              :loading="isLoading"
              :disabled="isLoading"
              :error-messages="errors.collect( 'end_day' )"
              :error="form.errors.has('end_day')"
              id="end_day"
              name="end_day"
              clearable
              required
              v-model="form.end_day"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.end_day" :min="moment( form.start_day ).toISOString()" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.endDate.save(form.end_day)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>

      <!-- Professionals -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.professionals"
          clearable
          multiple
          :loading="isLoading"
          :disabled="isLoading"
          :items="professionals"
          id="professionals"
          name="professionals"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-account-multiple"
          :label="$t('Input.Professional').capitalize()"
        ></v-select>
      </v-col>

      <!-- Park ID -->
      <v-col cols="12" sm="12" lg="6">
        <v-autocomplete
          v-model="form.park_id"
          :value="form.park_id"
          return-object
          autocomplete="off"
          :hint="$t('Input.HintPark')"
          v-validate="form.validations.input_number"
          prepend-icon="mdi-pine-tree"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="park_id"
          name="park_id"
          :error-messages="errors.collect( 'park_id' )"
          :label="$t('Input.Park').capitalize()"
          :search-input.sync="search"
          :items="parks"
          item-text="name"
          item-value="id"
        ></v-autocomplete>
      </v-col>

      <!-- Who Summons -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.who_summons"
          :value="form.who_summons"
          clearable
          multiple
          :loading="isLoading"
          :disabled="isLoading"
          :items="summoners"
          id="who_summons"
          name="who_summons"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-account-details"
          :label="$t('Input.WhoSummons?').capitalize()"
        ></v-select>
      </v-col>

      <!-- Process -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          multiple
          v-model="form.process_id"
          :value="form.process_id"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :items="processes"
          id="process_id"
          name="process_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-message-processing"
          :label="$t('Input.Process').capitalize()"
        ></v-select>
      </v-col>

      <!-- Request Type -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          multiple
          v-model="form.request_type_id"
          :value="form.request_type_id"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :items="requests"
          id="request_type_id"
          name="request_type_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-pencil"
          :label="$t('Input.RequestType').capitalize()"
        ></v-select>
      </v-col>

      <!-- Entity -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.entity_id"
          multiple
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :items="entities"
          id="entity_id"
          name="entity_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.Entity').capitalize()"
        ></v-select>
      </v-col>

      <!-- Population -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.type_of_population_id"
          multiple
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :items="types"
          id="type_of_population_id"
          name="type_of_population_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.TypeOfPopulation').capitalize()"
        ></v-select>
      </v-col>

      <!-- Condition -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.condition_id"
          multiple
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :items="conditions"
          id="condition_id"
          name="condition_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.Condition').capitalize()"
        ></v-select>
      </v-col>

      <!-- Situation -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.situation_id"
          multiple
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :items="situations"
          id="situation_id"
          name="situation_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.Situation').capitalize()"
        ></v-select>
      </v-col>

      <!-- Submit -->
      <v-col cols="12" sm="12" lg="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-calendar</v-icon> {{ $t('Core.Create') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>

  import {GeneralReport} from "@/models/services/GeneralReport";
  import {Park} from "@/models/services/Park";

  export default {
    name: "GeneralReportForm",
    data: () => ({
      modal2: false,
      modal: false,
      form: new GeneralReport(),
      search: null,
      parks: [],
      processes: [],
      requests: [],
      summoners: [],
      reunion_types: [],
      entities: [],
      types: [],
      conditions: [],
      situations: [],
      professionals: [],
    }),
    created: function () {
      this.getProcess();
      this.getRequests();
      this.getSummoners();
      this.getReunionTypes();
      this.getEntities();
      this.getTypes();
      this.getConditions();
      this.getSituations();
      this.getProfessionals();
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            //document.getElementById("report-form").submit();
            this.form.store({ responseType: 'blob' })
              .then((response) => {
                const url = window.URL.createObjectURL(new Blob([response]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'REPORTE_GENERAL.xlsx'); //or any other extension
                document.body.appendChild(link);
                link.click();
              })
              .then(() => this.$validator.reset())
              .catch((error) => this.notifyOnError( error.message ));
          }
        })
      },

      getParks: _.debounce(function () {
        const query = this.search;
        (new Park()).index({ params: { query: query } })
          .then((response) => this.parks = response.data)
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      getProcess: function () {
        this.processes = this.$store.getters['selects/getProcesses'];
        if ( this.processes.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/processes')
            .then((response) => this.processes = response)
            .catch(error => this.notifyOnError( error.message ))
            .finally(() => this.setLoading( false ))
        }
      },
      getRequests: function () {
        this.requests = this.$store.getters['selects/getRequests'];
        if ( this.requests.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/request_types')
            .then(response => this.requests = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getSummoners: function () {
        this.summoners = this.$store.getters['selects/getSummoners'];
        if ( this.summoners.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/summoners')
            .then(response => this.summoners = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getReunionTypes: function () {
        this.reunion_types = this.$store.getters['selects/getReunionTypes'];
        if ( this.reunion_types.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/reunion_types')
            .then(response => this.reunion_types = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getEntities: function () {
        this.entities = this.$store.getters['selects/getEntities'];
        if ( this.entities.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/entities')
            .then(response => this.entities = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getTypes: function () {
        this.types = this.$store.getters['selects/getPopulationTypes'];
        if ( this.types.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/population_types')
            .then(response => this.types = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getConditions: function () {
        this.conditions = this.$store.getters['selects/getConditions'];
        if ( this.conditions.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/conditions')
            .then(response => this.conditions = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getSituations: function () {
        this.situations = this.$store.getters['selects/getSituations'];
        if ( this.situations.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/situations')
            .then(response => this.situations = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
      getProfessionals: function () {
        this.professionals = this.$store.getters['selects/getProfessionals'];
        if ( this.professionals.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/professionals')
            .then(response => this.professionals = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      },
    },
    watch: {
      'form.park_id': function ( data ) {
        if (data && typeof data === "object") {
          this.form.park_id = data.id ? data.id : null;
        } else {
          this.form.park_id = data ? data : null;
        }
      },
      search (val) {
        val && val.length > 3 && !this.form.park_id && this.getParks()
      },
    }
  }
</script>

<style scoped>

</style>