<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12">
        <v-select
          v-model="form.activities"
          multiple
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'activities' )"
          :error="form.errors.has('activities')"
          :items="activities"
          id="activities"
          name="activities"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-format-list-bulleted"
          :label="$t('Input.Activities').capitalize()"
        ></v-select>
      </v-col>
      <v-col v-if="event.has_themes" cols="12" sm="12">
        <span class="subheading"><v-icon>mdi-format-list-numbered</v-icon> {{ $t('Input.Themes').capitalize() }}</span>
        <v-chip-group column multiple v-model="form.themes" active-class="info">
          <v-chip filter outlined :value="item.id" :key="item.id" v-for="item in themes">
            <v-icon left>mdi-format-list-numbered</v-icon> {{ item.name }}
          </v-chip>
        </v-chip-group>
      </v-col>
      <v-col v-if="event.has_themes" cols="12">
        <v-textarea
          id="other"
          prepend-icon="mdi-note-text"
          name="other"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.OtherThemes').capitalize()"
          v-validate="form.validations.text"
          :error-messages="errors.collect( 'other' )"
          :error="form.errors.has('other')"
          :counter="form.validations.text.max"
          :maxlength="form.validations.text.max"
          v-model="form.other"
        ></v-textarea>
      </v-col>
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-plus</v-icon> {{ $t('Core.Send') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {ProgrammingDetails} from "@/models/services/ProgrammingDetails";
  import {Activity} from "@/models/services/Activity";
  import {Theme} from "@/models/services/Theme";

  export default {
    name: "ProgrammingDetailsForm",
    props: {
      event: {
        type: Object,
        default: () => ({})
      }
    },
    data: vm => ({
      form: new ProgrammingDetails( vm.$route.params.id ),
      activities: [],
      themes: [],
      item: {}
    }),
    created: function () {
      if ( this.event.id) {
        this.item = this.event;
        this.$nextTick(function () {
          this.getActivities();
          this.getThemes();
        });
      }
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.store()
              .then(response => this.notifyOnSuccess(response.data))
              .then(() => this.$validator.reset())
              .then(() => this.$bus.$emit('refreshExecution'))
              .catch(error  =>  this.notifyOnError(error.message))
          }
        })
      },
      getActivities: function () {
        (new Activity( this.item.process_id )).index()
          .then((response) => this.activities = response.data)
          .catch(error => this.notifyOnError( error.message ))
      },
      getThemes: function () {
        this.themes = this.$store.getters['selects/getThemes'];
        if ( this.themes.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/themes')
            .then(response => this.themes = response)
            .catch(error => this.notifyOnError(error.message))
            .finally(() => this.setLoading( false ))
        }
      }
    }
  }
</script>

<style scoped>

</style>