<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Initial Hour -->
      <v-col cols="12" sm="12" lg="4">
        <v-dialog
          ref="initial_hour"
          v-model="initial_hour_dialog"
          :return-value.sync="form.initial_hour"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="form.initial_hour"
              :label="$t('Input.InitialHour').capitalize()"
              v-validate="form.validations.input_time_required"
              :error-messages="errors.collect( 'initial_hour' )"
              :error="form.errors.has('initial_hour')"
              prepend-icon="mdi-clock"
              readonly
              id="initial_hour"
              name="initial_hour"
              clearable
              required
              v-on="on"
            ></v-text-field>
          </template>
          <v-time-picker
            v-if="initial_hour_dialog"
            :max="form.final_hour"
            v-model="form.initial_hour"
            ampm-in-title
            full-width
          >
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="initial_hour_dialog = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.initial_hour.save(form.initial_hour)">OK</v-btn>
          </v-time-picker>
        </v-dialog>
      </v-col>
      <!-- Final Hour -->
      <v-col cols="12" sm="12" lg="4">
        <v-dialog
          ref="final_hour"
          v-model="final_hour_dialog"
          :return-value.sync="form.final_hour"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="form.final_hour"
              clearable
              autocomplete="off"
              id="final_hour"
              name="final_hour"
              required
              :label="$t('Input.FinalHour').capitalize()"
              v-validate="form.validations.input_time_required"
              :error-messages="errors.collect( 'final_hour' )"
              :error="form.errors.has('final_hour')"
              prepend-icon="mdi-clock"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-time-picker
            v-if="final_hour_dialog"
            :min="form.initial_hour"
            v-model="form.final_hour"
            ampm-in-title
            full-width
          >
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="final_hour_dialog = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.final_hour.save(form.final_hour)">OK</v-btn>
          </v-time-picker>
        </v-dialog>
      </v-col>

      <v-col cols="12" sm="12" lg="4">
        <v-switch
          color="info"
          v-model="park_not_found"
          :label="$t('Input.ParkNotFound?')"
        ></v-switch>
      </v-col>
      <!-- Reunion Type -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.reunion_type_id"
          return-object
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'reunion_type_id' )"
          :error="form.errors.has('reunion_type_id')"
          :items="reunion_types"
          id="reunion_type_id"
          name="reunion_type_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-account-group"
          :label="$t('Input.ReunionType').capitalize()"
        ></v-select>
      </v-col>
      <!-- Process -->
      <v-col v-if="require_process" cols="12" sm="12" lg="6">
        <v-select
          v-model="form.process_id"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'process_id' )"
          :error="form.errors.has('process_id')"
          :items="processes"
          id="process_id"
          name="process_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-message-processing"
          :label="$t('Input.Process').capitalize()"
        ></v-select>
      </v-col>
      <!-- Park ID -->
      <v-col cols="12" sm="12" lg="6">
        <v-autocomplete
          v-if="!park_not_found"
          v-model="form.park_id"
          return-object
          autocomplete="off"

          :hint="$t('Input.HintPark')"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-pine-tree"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="park_id"
          name="park_id"
          :error-messages="errors.collect( 'park_id' )"
          :label="$t('Input.Park').capitalize()"
          :search-input.sync="search"
          :items="parks"
          item-text="name"
          item-value="id"
          required
        ></v-autocomplete>
        <v-text-field
          v-else
          id="park"
          prepend-icon="mdi-pine-tree"
          name="park"
          :hint="$t('Input.HintNotFoundPark')"
          required
          clearable
          autocomplete="off"
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Park').capitalize()"
          v-validate="form.validations.input_text_required"
          :error-messages="errors.collect( 'park' )"
          :error="form.errors.has('park')"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          v-model="form.park"
        ></v-text-field>

      </v-col>
      <!-- UPZ -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          id="upz"
          prepend-icon="mdi-city"
          name="upz"
          autocomplete="off"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Upz').capitalize()"
          v-validate="form.validations.input_text_required"
          :error-messages="errors.collect( 'upz' )"
          :error="form.errors.has('upz')"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          v-model="form.upz"
        ></v-text-field>
      </v-col>
      <!-- Place -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          id="place"
          prepend-icon="mdi-map-marker"
          autocomplete="off"
          name="place"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Place').capitalize()"
          v-validate="form.validations.input_text_required"
          :error-messages="errors.collect( 'place' )"
          :error="form.errors.has('place')"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          v-model="form.place"
        ></v-text-field>
      </v-col>
      <!-- Who Summons -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.who_summons"
          clearable
          return-object
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'who_summons' )"
          :error="form.errors.has('who_summons')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="summoners"
          id="who_summons"
          name="who_summons"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-account-details"
          :label="$t('Input.WhoSummons?').capitalize()"
        ></v-select>
      </v-col>
      <!-- Which -->
      <v-col cols="12" sm="12" lg="6">
        <v-text-field
          id="which"
          prepend-icon="mdi-account-question"
          autocomplete="off"
          name="which"
          :required="which_required"
          clearable
          :loading="isLoading"
          :disabled="isLoading || !which_required"
          :label="$t('Input.Which?').capitalize()"
          v-validate="which_validations"
          :error-messages="errors.collect( 'which' )"
          :error="form.errors.has('which')"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          v-model="form.which"
        ></v-text-field>
      </v-col>
      <!-- Request Type -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.request_type_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'request_type_id' )"
          :error="form.errors.has('request_type_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="requests"
          id="request_type_id"
          name="request_type_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-pencil"
          :label="$t('Input.RequestType').capitalize()"
        ></v-select>
      </v-col>
      <!-- Objective -->
      <v-col cols="12" sm="12" lg="12">
        <v-textarea
          id="objective"
          prepend-icon="mdi-note-text"
          name="objective"
          required
          autocomplete="off"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Objective').capitalize()"
          v-validate="'required'"
          :error-messages="errors.collect( 'objective' )"
          :error="form.errors.has('objective')"
          :counter="form.validations.text_required.max"
          :maxlength="form.validations.text_required.max"
          v-model="form.objective"
        ></v-textarea>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" sm="12" lg="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-calendar</v-icon> {{ $t('Core.Create') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Programming} from "@/models/services/Programming";
  import {Park} from "@/models/services/Park";

  export default {
    name: "ProgrammingForm",
    props: {
      date: {
        type: String,
        default: moment().format('YYYY-MM-DD')
      }
    },
    created: function () {
      this.form.date = this.date;
      this.which_validations = this.form.validations.input_text;
      this.getProcess();
      this.getRequests();
      this.getSummoners();
      this.getReunionTypes();
    },
    data: () => ({
      park_not_found: false,
      require_process: true,
      initial_hour_dialog: false,
      final_hour_dialog: false,
      which_validations: null,
      which_required: false,

      form: new Programming(),
      parks: [],
      processes: [],
      requests: [],
      summoners: [],
      reunion_types: [],
      search: null,
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.store()
              .then(response => this.notifyOnSuccess( response.data ))
              .then(() => this.$validator.reset())
              .then(() => this.form.date = this.date)
              .catch(error => {
                if ( error.message ) {
                  this.notifyOnError(error.message)
                } else if ( this.form.errors.has('date') ) {
                  this.notifyOnError( this.form.errors.first('date') )
                }
              })
              .finally( () => this.$bus.$emit('refreshSource'))
          }
        })
      },
      getParks: _.debounce(function () {
        const query = this.search;
        (new Park()).index({ params: { query: query } })
          .then((response) => this.parks = response.data)
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      getProcess: function () {
        this.processes = this.$store.getters['selects/getProcesses'];
        if ( this.processes.length < 1 ) {
          this.setLoading( true );
          this.$store.dispatch('selects/processes')
            .then((response) => this.processes = response)
            .catch(error => this.notifyOnError( error.message ))
            .finally(() => this.setLoading( false ))
        }
      },
      getRequests: function () {
        this.requests = this.$store.getters['selects/getRequests'];
        if ( this.requests.length < 1 ) {
          this.setLoading( true );
         this.$store.dispatch('selects/request_types')
          .then(response => this.requests = response)
          .catch(error => this.notifyOnError(error.message))
           .finally(() => this.setLoading( false ))
        }
      },
      getSummoners: function () {
        this.summoners = this.$store.getters['selects/getSummoners'];
        if ( this.summoners.length < 1 ) {
          this.setLoading( true );
         this.$store.dispatch('selects/summoners')
          .then(response => this.summoners = response)
          .catch(error => this.notifyOnError(error.message))
           .finally(() => this.setLoading( false ))
        }
      },
      getReunionTypes: function () {
        this.reunion_types = this.$store.getters['selects/getReunionTypes'];
        if ( this.reunion_types.length < 1 ) {
          this.setLoading( true );
         this.$store.dispatch('selects/reunion_types')
          .then(response => this.reunion_types = response)
          .catch(error => this.notifyOnError(error.message))
           .finally(() => this.setLoading( false ))
        }
      },
    },
    watch: {
      'form.reunion_type_id': function ( data ) {
        if ( data && typeof data === "object") {
          this.form.reunion_type_id = data.id ? data.id : null;
          this.require_process = !!data.require_process;
        } else {
          this.form.reunion_type_id = data ? data : null;
        }
      },
      'form.who_summons': function ( data ) {
        if ( data && typeof data === "object") {
          this.form.who_summons = data.id ? data.id : null;
          this.which_required = !!data.require_input
          this.which_validations = data.require_input
            ? this.form.validations.input_text_required
            : this.form.validations.input_text

        }
      },
      'form.park_id': function ( data ) {
        if ( data && typeof data === "object") {
          this.form.park_id = data.id  ? data.id : null;
          this.form.upz_id  = data.upz ? Number(data.upz) : null;
          this.form.upz     = data.upz_name ? data.upz_name : null;
          this.form.park     = data.name ? data.name : null;
        } else {
          this.form.park_id = data ? data : null;
          if ( !this.form.park_id ) {
            this.form.upz_id = null;
            this.form.upz    = null;
            this.form.park    = null;
          }
        }
      },
      date: function ( date ) {
        this.form.date = date;
      },
      search (val) {
        val && val.length > 3 && !this.form.park_id && this.getParks()
      },
    }
  }
</script>

<style scoped>

</style>