<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="dialog"
          v-model="modal"
          :return-value.sync="form.date"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.Date').capitalize()"
              v-validate="form.validations.input_date_required"
              :error-messages="errors.collect( 'date' )"
              :error="form.errors.has('date')"
              id="date"
              name="date"
              clearable
              required
              v-model="form.date"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.date" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal = false">{{ $t('Core.Cancel') }}</v-btn>
            <v-btn text color="primary" @click="$refs.dialog.save(form.date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>
      <v-col cols="12" sm="12">
        <v-textarea
          id="description"
          prepend-icon="mdi-note-text"
          name="description"
          required
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Description').capitalize()"
          v-validate="form.validations.text"
          :error-messages="errors.collect( 'description' )"
          :error="form.errors.has('description')"
          :counter="form.validations.text.max"
          :maxlength="form.validations.text.max"
          v-model="form.description"
        ></v-textarea>
      </v-col>
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-plus</v-icon> {{ $t('Core.Send') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Tracing} from "@/models/services/Tracing";

  export default {
    name: "TracingForm",
    props: {
      commitmentId: {
        default: undefined
      }
    },
    created: function () {
      this.id = this.commitmentId;
      this.form = new Tracing( this.$route.params.id, this.id )
    },
    data: vm => ({
      id: null,
      modal: false,
      form: new Tracing( vm.$route.params.id, vm.id )
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid && this.id) {
            this.form.store()
              .then(response => this.notifyOnSuccess(response.data))
              .then(() => this.$validator.reset())
              .catch(error  =>  this.notifyOnError( error.message ))
              .finally(() => this.$bus.$emit('refreshCommitments'))
          }
        })
      }
    },
    watch: {
      commitmentId: function (val) {
        this.id = val;
        this.form = new Tracing( this.$route.params.id, this.id )
      }
    }
  }
</script>

<style scoped>

</style>