<template>
        <v-card class="main main-raised elevation-24">
            <div class="section pa-lg-12">
                <v-container grid-list-xl>
                    <slot></slot>
                </v-container>
            </div>
        </v-card>
</template>

<script>
    export default {
        name: "Content"
    }
</script>
