<template>
    <v-navigation-drawer
            v-model="showDrawer"
            :mini-variant.sync="miniDrawer"
            :right="!viewRTL"
            :src="bg"
            mobile-break-point="991"
            width="260"
            app
            overflow
            dark
    >
        <v-list dense nav>
            <v-list-item v-if="miniDrawer">
                <v-btn @click.stop="toggleMini" color="transparent" class="elevation-0" small>
                    <v-icon>{{ viewRTL ? 'mdi-chevron-left' : 'mdi-chevron-right' }}</v-icon>
                </v-btn>
            </v-list-item>

            <v-divider></v-divider>

            <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    :to="item.path"
                    v-if="!item.hideInMenu"
                    :active-class="accentColor"
                    link
                    class="mt-2"
            >
                <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ $t( `Toolbar.${item.name}` ) }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item
              v-if="$auth.isLoggedIn()"
              to="/home" :active-class="accentColor"
              link class="mt-2"
            >
                <v-list-item-icon>
                    <v-icon>mdi-view-dashboard</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{ $t( `Toolbar.Dashboard` ) }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import landing from '@/router/landing'
    export default {
        name: "Drawer",
        data: () => ({
            logo: require('@/assets/logo.png'),
            username: 'Daniel Prado',
            color: 'primary',
            colors: [
                'primary',
                'blue',
                'success',
                'red',
                'teal',
            ],
        }),
        computed: {
            items: function () {
                return landing;
            },
            sidebarOverlayGradiant () {
                return `${this.$store.state.app.sidebarBackgroundColor}, ${this.$store.state.app.sidebarBackgroundColor}`
            },
            bg () {
                return this.background ? 'https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg' : undefined
            },
        }
    }
</script>

<style scoped>
    .v-application a {
        color: rgba( 255, 255, 255, 1 );
    }
</style>
