<template>
  <v-dialog :value="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :transition="dialogTransition">
    <v-card :style="borderStyles" class="elevation-10">
      <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
        <v-toolbar-title>
          {{ $t('Core.AreYouSureCancel?') }}
        </v-toolbar-title>

        <div class="flex-grow-1"></div>

        <v-btn icon @click="onClose">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text class="mb-0">
        <v-form @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  id="who_cancel"
                  prepend-icon="mdi-account-question"
                  name="who_cancel"
                  required
                  clearable
                  :loading="isLoading"
                  :disabled="isLoading"
                  :label="$t('Input.WhoCancel?').capitalize()"
                  v-validate="form.validations.input_text_required"
                  :error-messages="errors.collect( 'who_cancel' )"
                  :error="form.errors.has('who_cancel')"
                  :counter="form.validations.input_text_required.max"
                  :maxlength="form.validations.input_text_required.max"
                  v-model="form.who_cancel"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  id="reason"
                  prepend-icon="mdi-text-subject"
                  name="reason"
                  required
                  clearable
                  :loading="isLoading"
                  :disabled="isLoading"
                  :label="$t('Input.Reason').capitalize()"
                  v-validate="form.validations.text_required"
                  :error-messages="errors.collect( 'reason' )"
                  :error="form.errors.has('reason')"
                  :counter="form.validations.text_required.max"
                  :maxlength="form.validations.text_required.max"
                  v-model="form.reason"
                ></v-textarea>
              </v-col>
              <v-col cols="12" class="text-right">
                <v-btn type="submit" color="danger" class="white--text" :loading="isLoading" :disabled="isLoading" @submit.prevent="onSubmit">
                  <v-icon left>mdi-cancel</v-icon> {{ $t('Core.Cancel') }}
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>

    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "CancelEvent",
    props: {
      onClose: {
        type: Function,
        default: () => ({})
      },
      show: {
        type: Boolean,
        default: false
      },
      form: {
        required: true
      },
      id: {
        required: true
      }
    },
    data: () => ({
      dialog: false
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid && this.id ) {
            this.form.cancel( this.id )
              .then( response => this.notifyOnSuccess( response.data ) )
              .then(() => this.dialog = false)
              .catch( error => this.notifyOnError( error.message ))
              .finally(() => this.$bus.$emit('refreshSource'))
          }
        })
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
    },
    watch: {
      show: function (value) {
        this.dialog = value;
      }
    }
  }
</script>

<style scoped>

</style>