<template>
  <v-card :width="width" class="elevation-0">
    <v-toolbar v-if="withToolbar" dark :color="toolbarColor">
      <v-toolbar-title  v-text="event.name"></v-toolbar-title>
      <div class="flex-grow-1"></div>
      <slot name="dots-menu"></slot>
      <v-btn @click="onClose" icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-list two-line>
        <!-- ID -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-pound</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.id }}</v-list-item-title>
            <v-list-item-subtitle>ID</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Professional -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.professional_name }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Professional').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Execution Date -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-calendar</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.start | card_title_dates( $i18n.locale, titleInResponsive ) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.ExecutionDate').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Initial and Final Hour -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-clock</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.schedule }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.WorkingDay').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Park -->
        <v-list-item v-if="event.park">
          <v-list-item-icon>
            <v-icon>mdi-pine-tree</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.park }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Park').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- UPZ -->
        <v-list-item v-if="event.upz">
          <v-list-item-icon>
            <v-icon>mdi-city</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.upz }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Upz').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Place -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-map-marker</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.place }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Place').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Who Summons -->
        <v-list-item v-if="event.who_summons">
          <v-list-item-icon>
            <v-icon>mdi-account-details</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.who_summons }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.WhoSummons?').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Which -->
        <v-list-item v-if="event.which">
          <v-list-item-icon>
            <v-icon>mdi-account-question</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.which }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Which?').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Reunion Type -->
        <v-list-item v-if="event.reunion_type">
          <v-list-item-icon>
            <v-icon>mdi-account-multiple</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.reunion_type }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.ReunionType').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Request -->
        <v-list-item v-if="event.request">
          <v-list-item-icon>
            <v-icon>mdi-pencil</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.request }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.RequestType').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Process -->
        <v-list-item v-if="event.process">
          <v-list-item-icon>
            <v-icon>mdi-message-processing</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.process }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Process').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Objective -->
        <v-list-item v-if="event.objective">
          <v-list-item-icon>
            <v-icon>mdi-text-subject</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $t('Input.Objective').capitalize() }}</v-list-item-title>
            <span class="caption text-gray">
              {{event.objective}}
            </span>
          </v-list-item-content>
        </v-list-item>
        <!-- Canceled At -->
        <v-list-item v-if="event.deleted_at">
          <v-list-item-icon>
            <v-icon>mdi-cancel</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.deleted_at }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.CanceledAt').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Who Cancel -->
        <v-list-item v-if="event.who_cancel">
          <v-list-item-icon>
            <v-icon>mdi-account-question</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.who_cancel }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.WhoCancel?').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Reason for cancellation -->
        <v-list-item v-if="event.reason_for_cancellation">
          <v-list-item-icon>
            <v-icon>mdi-text-subject</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $t('Input.Reason').capitalize() }}</v-list-item-title>
            <span class="caption text-gray">
              {{event.reason_for_cancellation}}
            </span>
          </v-list-item-content>
        </v-list-item>

        <!-- Reprogrammed -->
        <v-list-item v-if="event.has_reprogramming">
          <v-list-item-icon>
            <v-icon>mdi-map-marker</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $tc('Input.Times', event.has_reprogramming, {count: event.has_reprogramming}).capitalize() }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Reprogrammed').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <slot></slot>

        <!-- Created At -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-calendar</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.created_at }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.CreatedAt').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Updated At -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-calendar</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.updated_at }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.UpdatedAt').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    name: "Events",
    props: {
      withToolbar: {
        type: Boolean,
        default: true
      },
      width: {
        default: undefined
      },
      event: {
        type: Object,
        required: true
      },
      onClose: {
        type: Function,
        default: () => ({})
      }
    },
    computed: {
      toolbarColor: function () {
        return this.event.color ? `bg-${this.event.color}` : 'bg-info'
      },
      titleInResponsive: function () {
        return this.responsive ? 'll' : 'LL'
      },
    }
  }
</script>

<style lang="scss">
    .v-list-item__title {
      white-space: pre-line;
    }
</style>