<template>
  <v-card :width="width" class="elevation-0">
    <v-toolbar v-if="withToolbar" dark :color="toolbarColor">
      <v-toolbar-title  v-text="event.name"></v-toolbar-title>
      <div class="flex-grow-1"></div>
      <slot name="dots-menu"></slot>
      <v-btn @click="onClose" icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-list two-line>
        <!-- ID -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-pound</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.id }}</v-list-item-title>
            <v-list-item-subtitle>ID</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <!-- ID -->
        <v-list-item  :to="`/programmings/${event.programming_id}/details`" v-if="event.programming_id">
          <v-list-item-icon>
            <v-icon>mdi-pound</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.programming_id }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Programming').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Professional -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.professional_name }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Professional').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Responsable -->
        <v-list-item v-if="event.responsable">
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.responsable }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Responsable').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Execution Date -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-calendar</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.start | card_title_dates( $i18n.locale, titleInResponsive ) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.ExecutionDate').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Initial and Final Hour -->
        <v-list-item v-if="event.schedule">
          <v-list-item-icon>
            <v-icon>mdi-clock</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.schedule }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.WorkingDay').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Park -->
        <v-list-item v-if="event.park">
          <v-list-item-icon>
            <v-icon>mdi-pine-tree</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.park }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Park').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Place -->
        <v-list-item v-if="event.place">
          <v-list-item-icon>
            <v-icon>mdi-map-marker</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ event.place }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Place').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <!-- Reprogrammed -->
        <v-list-item v-if="event.has_reprogramming">
          <v-list-item-icon>
            <v-icon>mdi-map-marker</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ $tc('Input.Times', event.has_reprogramming, {count: event.has_reprogramming}).capitalize() }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t('Input.Reprogrammed').capitalize() }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    name: "EventsMini",
    props: {
      withToolbar: {
        type: Boolean,
        default: true
      },
      width: {
        default: undefined
      },
      event: {
        type: Object,
        required: true
      },
      onClose: {
        type: Function,
        default: () => ({})
      }
    },
    computed: {
      toolbarColor: function () {
        return this.event.color ? `bg-${this.event.color}` : 'bg-info'
      },
      titleInResponsive: function () {
        return this.responsive ? 'll' : 'LL'
      },
    }
  }
</script>

<style lang="scss">
  .v-list-item__title {
    white-space: pre-line;
  }
</style>