<template>
  <v-dialog :value="dialog" persistent  :max-width="responsive ? 'none' : '600px'" :fullscreen="responsive" :transition="dialogTransition">
    <v-card :style="borderStyles" class="elevation-10">
      <v-toolbar class="elevation-0" :color=" responsive ? 'bg-info' : ''" extended>
        <v-toolbar-title>
          {{ $t('Input.Reprogram').capitalize() }}
        </v-toolbar-title>

        <div class="flex-grow-1"></div>

        <v-btn icon @click="onClose">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-card-text class="mb-0">
        <v-form @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <!-- Date -->
              <v-col cols="12" sm="12" lg="6">
                <v-dialog
                  ref="dialog"
                  v-model="modal"
                  :return-value.sync="reprogram_form.date"
                  persistent
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :label="$t('Input.Date').capitalize()"
                      v-validate="reprogram_form.validations.input_date_required"
                      :error-messages="errors.collect( 'date' )"
                      :error="reprogram_form.errors.has('date')"
                      id="date"
                      name="date"
                      clearable
                      required
                      v-model="reprogram_form.date"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="reprogram_form.date" scrollable>
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.dialog.save(reprogram_form.date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-col>
              <!-- Schedules Only For Citizen Attention -->
              <v-col v-if="isAttention" cols="12" sm="12" class="text-left">
                <span class="subheading"><v-icon>mdi-calendar</v-icon> {{ $t('Input.WorkingDay').capitalize() }}</span>
                <v-chip-group v-model="reprogram_form.working_day" active-class="info">
                  <v-chip filter outlined :value="schedule.id" :key="schedule.id" v-for="schedule in schedules">
                    <v-icon left>mdi-clock</v-icon> {{ schedule.schedule }}
                  </v-chip>
                </v-chip-group>
                <input type="hidden" id="working_day" name="working_day" required v-model="reprogram_form.working_day" v-validate="reprogram_form.validations.input_number_required">
                <div v-if="errors.has('working_day')" class="v-messages theme--light error--text">
                  <div class="v-messages__wrapper">
                    <div class="v-messages__message">{{ errors.first('working_day') }}</div>
                  </div>
                </div>
              </v-col>

              <!-- Initial Hour -->
              <v-col v-if="!isAttention"  cols="12" sm="12" lg="6">
                <v-dialog
                  ref="initial_hour"
                  v-model="initial_hour_dialog"
                  :return-value.sync="reprogram_form.initial_hour"
                  persistent
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="reprogram_form.initial_hour"
                      :label="$t('Input.InitialHour').capitalize()"
                      v-validate="reprogram_form.validations.input_time_required"
                      :error-messages="errors.collect( 'initial_hour' )"
                      :error="reprogram_form.errors.has('initial_hour')"
                      prepend-icon="mdi-clock"
                      readonly
                      id="initial_hour"
                      name="initial_hour"
                      clearable
                      required
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="initial_hour_dialog"
                    :max="reprogram_form.final_hour"
                    v-model="reprogram_form.initial_hour"
                    ampm-in-title
                    full-width
                  >
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary" @click="initial_hour_dialog = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.initial_hour.save(reprogram_form.initial_hour)">OK</v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-col>
              <!-- Final Hour -->
              <v-col v-if="!isAttention"  cols="12" sm="12" lg="6">
                <v-dialog
                  ref="final_hour"
                  v-model="final_hour_dialog"
                  :return-value.sync="reprogram_form.final_hour"
                  persistent
                  full-width
                  width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="reprogram_form.final_hour"
                      clearable
                      id="final_hour"
                      name="final_hour"
                      required
                      :label="$t('Input.FinalHour').capitalize()"
                      v-validate="reprogram_form.validations.input_time_required"
                      :error-messages="errors.collect( 'final_hour' )"
                      :error="reprogram_form.errors.has('final_hour')"
                      prepend-icon="mdi-clock"
                      readonly
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                    v-if="final_hour_dialog"
                    :min="reprogram_form.initial_hour"
                    v-model="reprogram_form.final_hour"
                    ampm-in-title
                    full-width
                  >
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary" @click="final_hour_dialog = false">Cancel</v-btn>
                    <v-btn text color="primary" @click="$refs.final_hour.save(reprogram_form.final_hour)">OK</v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-col>

              <v-col cols="12">
                <v-textarea
                  id="reprogramming_reason"
                  prepend-icon="mdi-note-text"
                  name="reprogramming_reason"
                  required
                  clearable
                  :loading="isLoading"
                  :disabled="isLoading"
                  :label="$t('Input.ReprogrammingReason').capitalize()"
                  v-validate="reprogram_form.validations.text_required"
                  :error-messages="errors.collect( 'reprogramming_reason' )"
                  :error="reprogram_form.errors.has('reprogramming_reason')"
                  :counter="reprogram_form.validations.text_required.max"
                  :maxlength="reprogram_form.validations.text_required.max"
                  v-model="reprogram_form.reprogramming_reason"
                ></v-textarea>
              </v-col>

              <v-col cols="12" class="text-right">
                <v-btn type="submit" color="warning" :loading="isLoading" :disabled="isLoading" @submit.prevent="onSubmit">
                  <v-icon left color="white">mdi-history</v-icon> {{ $t('Input.Reprogram').capitalize() }}
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>

    </v-card>
  </v-dialog>
</template>

<script>
  import {CitizenAttentionSchedule} from "@/models/services/CitizenAttentionSchedule";

  export default {
    name: "ReprogramEvent",
    props: {
      onClose: {
        type: Function,
        default: () => ({})
      },
      show: {
        type: Boolean,
        default: false
      },
      form: {
        required: true
      },
      id: {
        required: true
      },
      isAttention: {
        type: Boolean,
        default: false
      }
    },
    data: () => ({
      modal: false,
      dialog: false,
      initial_hour_dialog: false,
      final_hour_dialog: false,
      schedules: [],
      reprogram_form: {}
    }),
    created: function () {
      if ( this.isAttention ) {
        this.getSchedules();
      }
      this.reprogram_form = this.form;
    },
    methods: {
      getSchedules: function () {
        this.schedules = this.$store.getters['selects/getSchedules'];
        if ( this.schedules.length < 1 ) {
          this.$store.dispatch('selects/schedules')
            .then(response => this.schedules = response)
            .catch(error => this.notifyOnError(error.message))
        }
      },
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid && this.id ) {
            this.reprogram_form.update( this.id )
              .then( response => this.notifyOnSuccess( response.data ) )
              .then(() => this.dialog = false)
              .then(() => this.reprogram_form.reset())
              .catch( error => this.notifyOnError( error.message ))
              .finally(() => this.$bus.$emit('refreshSource'))
          }
        })
      }
    },
    computed: {
      borderStyles () {
        if ( this.responsive ) {
          return {}
        }

        return {
          borderRadius: '16px'
        }
      },
      dialogTransition () {
        return this.responsive ? 'dialog-bottom-transition' : 'dialog-transition'
      },
    },
    watch: {
      show: function (value) {
        this.dialog = value;
      },
      form: {
        handler(form){
          if ( form ) {
            this.reprogram_form = this.form;
          } else {
            this.reprogram_form = {};
          }
        },
        deep: true
      },
    }
  }
</script>

<style scoped>

</style>