<template>
  <v-layout wrap>
    <v-flex sm12 md6 class="mx-auto text-center">
      <vue-content-loading>
        <circle cx="10" cy="20" r="6" ></circle>
        <rect x="25" y="17" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="50" r="6" ></circle>
        <rect x="25" y="47" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="80" r="6" ></circle>
        <rect x="25" y="77" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="110" r="6" ></circle>
        <rect x="25" y="107" rx="5" ry="5" width="220" height="6.4" ></rect>
      </vue-content-loading>

      <vue-content-loading>
        <circle cx="10" cy="20" r="6" ></circle>
        <rect x="25" y="17" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="50" r="6" ></circle>
        <rect x="25" y="47" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="80" r="6" ></circle>
        <rect x="25" y="77" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="110" r="6" ></circle>
        <rect x="25" y="107" rx="5" ry="5" width="220" height="6.4" ></rect>
      </vue-content-loading>

      <vue-content-loading>
        <circle cx="10" cy="20" r="6" ></circle>
        <rect x="25" y="17" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="50" r="6" ></circle>
        <rect x="25" y="47" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="80" r="6" ></circle>
        <rect x="25" y="77" rx="5" ry="5" width="220" height="6.4" ></rect>
        <circle cx="10" cy="110" r="6" ></circle>
        <rect x="25" y="107" rx="5" ry="5" width="220" height="6.4" ></rect>
      </vue-content-loading>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: "ProfileLoading"
  }
</script>

<style scoped>

</style>