<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <!-- Username -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.username"
          clearable
          v-validate="form.validations.input_text_required_unique( form.sim_id )"
          prepend-icon="mdi-textbox"
          :error-messages="errors.collect( 'username' )"
          :label="$t('Input.Username').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          name="username"
          id="username"
          required
        />
      </v-col>
      <!-- Password -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.password"
          v-validate="'required'"
          :error-messages="errors.collect( 'password' )"
          required
          prepend-icon="mdi-lock"
          id="password"
          :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
          name="password"
          :loading="isLoading"
          :readonly="isLoading"
          current-password
          @click:append.prevent="show = !show"
          :label="$t('Input.Password').capitalize()"
          :type="show ? 'text' : 'password'"></v-text-field>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <slot name="before-spacer"></slot>
        <v-spacer></v-spacer>
        <slot></slot>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info">
          <v-icon left>mdi-send</v-icon> {{  user.sim_id ? $t('Core.Update') : $t('Core.Create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Access} from "@/models/services/Security/Access";
  
  export default {
    name: "AccessForm",
    props: {
      user: {
        type: Object,
        default: () => new Access().data()
      }
    },
    data: () => ({
      show: false,
      form: new Access()
    }),
    created: function () {
      this.form = new Access( this.user )
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            let form = this.user.sim_id && this.user.username ? this.form.update( this.user.sim_id ) : this.form.store();
            form.then((response) => {
              this.$bus.$emit('onUserProfile', response.details);
              this.notifyOnSuccess( response.data )
            })
              .then(() => this.$validator.reset())
              .then(() => this.$bus.$emit('refreshUsers'))
              .catch((error) => {
                if ( error.message ) {
                  this.notifyOnError( error.message );
                }
              })
          }
        })
      }
    },
    watch: {
      user: function (user) {
        this.form = new Access( user )
      }
    }
  }
</script>

<style scoped>

</style>