<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Finder -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model="search"
          clearable
          :hint="$t('Input.HintUser')"
          prepend-icon="mdi-magnify"
          :label="$t('Input.Search').capitalize()"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="search"
          id="search"
        />
      </v-col>
      <!-- Users -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.user"
          @change="onChange"
          autocomplete="off"
          v-validate="form.validations.input_number_required"
          prepend-icon="mdi-account"
          clearable
          :loading="isLoading"
          hide-no-data
          hide-selected
          id="user"
          name="user"
          :error-messages="errors.collect( 'user' )"
          :label="$t('Input.Username').capitalize()"
          :items="users"
          item-text="name"
          item-value="id"
          required
        ></v-select>
      </v-col>
      <!-- Roles -->
      <v-col cols="12">
        <v-select
          v-model="form.roles"
          clearable
          v-validate="form.validations.required"
          :error-messages="errors.collect( 'roles' )"
          :error="form.errors.has('roles')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="roles"
          id="roles"
          name="roles"
          item-text="display_name"
          item-value="id"
          hide-selected
          deletable-chips
          small-chips
          prepend-icon="mdi-playlist-plus"
          :label="$t('Input.Role').capitalize()"
          multiple
          required
        ></v-select>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Role} from "@/models/services/Security/Role";
  import {UserRole} from "@/models/services/Security/UserRole";

  export default {
    name: "AssignRolesForm",
    data: () => ({
      search: null,
      roles: [],
      users: [],
      form: new UserRole()
    }),
    created: function () {
      this.getRoles();
    },
    methods: {
      getUsers: _.debounce(function () {
        const query = this.search;
        (new UserRole()).index({ params: { document: query } })
          .then((response) => this.users = response.data)
          .catch(error => this.notifyOnError( error.message ))
      }, 1000),
      getRoles: function () {
        (new Role()).all()
          .then((response) => this.roles = response.data)
          .catch((error) => this.notifyOnError( error.message ))
      },
      onSubmit: function () {
        this.form.store()
          .then((response) => this.notifyOnSuccess(response.data))
          .catch((error) => this.notifyOnError( error.message ))
      },
      onChange: function (user) {
        if ( user ) {
          (new UserRole(user)).assigned(user)
            .then(response => {
              this.form = new UserRole( user, {
                user: user,
                roles: response.data.map(perm => {
                  return perm.id
                })
              });
            })
            .catch(error => this.notifyOnError(error.messages))
        } else {
          this.form.roles = [];
        }
      }
    },
    watch: {
      search (val) {
        val && val.length > 3 && !this.form.user && this.getUsers()
      },
    }
  }
</script>

<style scoped>

</style>