<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Roles -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.role"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'role' )"
          :error="form.errors.has('role')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="roles"
          @change="onChange"
          id="role"
          name="role"
          item-text="display_name"
          item-value="id"
          prepend-icon="mdi-shield-account"
          :label="$t('Input.Role').capitalize()"
        ></v-select>
      </v-col>
      <!-- Permissions -->
      <v-col cols="12">
        <v-select
          v-model="form.permissions"
          clearable
          v-validate="form.validations.required"
          :error-messages="errors.collect( 'permissions' )"
          :error="form.errors.has('permissions')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="permissions"
          id="permissions"
          name="permissions"
          item-text="display_name"
          item-value="id"
          deletable-chips
          small-chips
          prepend-icon="mdi-playlist-plus"
          :label="$t('Input.Permissions').capitalize()"
          multiple
          required
        >
          <template v-slot:prepend-item>
            <v-list-item
              ripple
              @click="toggle"
            >
              <v-list-item-action>
                <v-icon :color="form.permissions.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ $t('Core.SelectAll') }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider class="mt-2"></v-divider>
          </template>
        </v-select>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {RolePermission} from "@/models/services/Security/RolePermission";
  import {Role} from "@/models/services/Security/Role";
  import {Permission} from "@/models/services/Security/Permission";

  export default {
    name: "AssignPermissionsForm",
    data: () => ({
      roles: [],
      permissions: [],
      form: new RolePermission()
    }),
    created: function () {
      this.getRoles();
      this.getPermissions();
    },
    methods: {
      getRoles: function () {
        (new Role()).all()
          .then((response) => this.roles = response.data)
          .catch((error) => this.notifyOnError( error.message ))
      },
      getPermissions: function () {
        (new Permission()).all()
          .then((response) => this.permissions = response.data)
          .catch((error) => this.notifyOnError( error.message ))
      },
      onSubmit: function () {
        this.form.store()
          .then((response) => this.notifyOnSuccess(response.data))
          .catch((error) => this.notifyOnError( error.message ))
      },
      onChange: function (role) {
        if ( role ) {
          (new RolePermission(role)).index()
            .then(response => {
              this.form = new RolePermission( role, {
                role: role,
                permissions: response.data.map(perm => {
                  return perm.id
                })
              });
            })
            .catch(error => this.notifyOnError(error.messages))
        } else {
          this.form.permissions = [];
        }
      },
      toggle () {
        this.$nextTick(() => {
          if (this.likesAllPerms) {
            this.form.permissions = []
          } else {
            this.form.permissions = this.permissions.slice().map(p => p.id)
          }
        })
      },
    },
    computed: {
      likesAllPerms () {
        return this.permissions.length === this.form.permissions.length
      },
      likesSomePerms () {
        return this.permissions.length > 0 && !this.likesAllPerms
      },
      icon () {
        if (this.likesAllPerms) return 'mdi-close-box'
        if (this.likesSomePerms) return 'mdi-minus-box'
        return 'mdi-checkbox-blank-outline'
      },
    }
  }
</script>

<style scoped>

</style>
