<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Name -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model.trim="form.name"
          clearable
          v-validate="form.validations.input_alpha_dash_required"
          prepend-icon="mdi-account-card-details"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          :counter="form.validations.input_alpha_dash_required.max"
          :maxlength="form.validations.input_alpha_dash_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="name"
          id="name"
          required
        />
      </v-col>
      <!-- Display Name -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model.trim="form.display_name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-account-card-details"
          :error-messages="errors.collect( 'display_name' )"
          :label="$t('Input.DisplayName').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="display_name"
          id="display_name"
          required
        />
      </v-col>
      <!-- Description -->
      <v-col cols="12" sm="12" lg="12">
        <v-textarea
          id="description"
          prepend-icon="mdi-note-text"
          name="description"
          required
          autocomplete="off"
          clearable
          :loading="isLoading"
          :disabled="isLoading"
          :label="$t('Input.Description').capitalize()"
          v-validate="form.validations.text_required"
          :error-messages="errors.collect( 'description' )"
          :error="form.errors.has('description')"
          :counter="form.validations.text_required.max"
          :maxlength="form.validations.text_required.max"
          v-model="form.description"
        ></v-textarea>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Permission} from "@/models/services/Security/Permission";

  export default {
    name: "PermissionForm",
    props: {
      permission: {
        type: Object,
        default: () => new Permission().data()
      }
    },
    created: function () {
      this.form = new Permission( this.permission );
    },
    data: () => ({
      form: new Permission()
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            let form = this.permission.id ? this.form.update( this.permission.id ) : this.form.store();
            form
              .then(response => {
                this.notifyOnSuccess( response.data );
              })
              .then(() => this.$validator.reset())
              .then(() => this.$bus.$emit('refreshPermissions'))
              .catch(error => {
                if (error.message) {
                  this.notifyOnError( error.message )
                }
              })
          }
        })
      }
    },
    watch: {
      permission: function (permission) {
        this.form = new Permission( permission );
      }
    }
  }
</script>

<style scoped>

</style>