<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <!-- DocumentType -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.document_type_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'document_type_id' )"
          :error="form.errors.has('document_type_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="document_types"
          id="document_type_id"
          name="document_type_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-account-badge-horizontal"
          :label="$t('Input.DocumentType').capitalize()"
        ></v-select>
      </v-col>
      <!-- Document -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.document"
          clearable
          v-validate="form.validations.input_document_required"
          prepend-icon="mdi-account-card-details"
          :error-messages="errors.collect( 'document' )"
          :label="$t('Input.Document').capitalize()"
          :counter="form.validations.input_document_required.max"
          :maxlength="form.validations.input_document_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="document"
          id="document"
          required
        />
      </v-col>
      <!-- LastName -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.lastname"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'lastname' )"
          :label="$t('Input.LastName').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="lastname"
          id="lastname"
          required
        />
      </v-col>
      <!-- SecondLastName -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.second_lastname"
          clearable
          v-validate="form.validations.input_text"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.SecondLastName').capitalize()"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="second_lastname"
          id="second_lastname"
        />
      </v-col>
      <!-- FirstName -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.first_name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'first_name' )"
          :label="$t('Input.Name').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="first_name"
          id="first_name"
          required
        />
      </v-col>
      <!-- SecondName -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.second_name"
          clearable
          v-validate="form.validations.input_text"
          prepend-icon="mdi-dots-horizontal"
          :error-messages="errors.collect( 'second_name' )"
          :label="$t('Input.SecondName').capitalize()"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="second_name"
          id="second_name"
        />
      </v-col>
      <!-- Birthday -->
      <v-col cols="12" lg="6" sm="12">
        <v-menu
          ref="Birthday"
          v-model="menu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="form.birthday"
              clearable
              :label="$t('Input.Birthday').capitalize()"
              v-validate="form.validations.input_date_required"
              :error-messages="errors.collect( 'birthday' )"
              :error="form.errors.has('birthday')"
              id="birthday"
              name="birthday"
              :loading="isLoading"
              prepend-icon="mdi-calendar"
              readonly
              required
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            ref="picker"
            v-model="form.birthday"
            :max="moment().subtract(18, 'years').toISOString().substr(0, 10)"
            :min="moment().subtract(80, 'years').toISOString().substr(0, 10)"
            @change="$refs.Birthday.save(form.birthday)"
          ></v-date-picker>
        </v-menu>
      </v-col>
      <!-- Gender -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.gender_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'gender_id' )"
          :error="form.errors.has('gender_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="genders"
          id="gender_id"
          name="gender_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-human-male-female"
          :label="$t('Input.Gender').capitalize()"
        ></v-select>
      </v-col>
      <!-- Ethnicity -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.ethnicity_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'ethnicity_id' )"
          :error="form.errors.has('ethnicity_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="ethnicities"
          id="ethnicity_id"
          name="ethnicity_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-home-city"
          :label="$t('Input.Ethnicity').capitalize()"
        ></v-select>
      </v-col>
      <!-- Country -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.country_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'country_id' )"
          :error="form.errors.has('country_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="countries"
          @change="getCities"
          @click:clear="form.city_id = null"
          id="country_id"
          name="country_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-home-city"
          :label="$t('Input.Country').capitalize()"
        ></v-select>
      </v-col>
      <!-- City -->
      <v-col cols="12" sm="12" lg="6">
        <v-select
          v-model="form.city_id"
          clearable
          v-validate="form.validations.input_number_required"
          :error-messages="errors.collect( 'city_id' )"
          :error="form.errors.has('city_id')"
          :loading="isLoading"
          :disabled="isLoading"
          :items="cities"
          id="city_id"
          name="city_id"
          item-text="name"
          item-value="id"
          prepend-icon="mdi-home-city"
          :label="$t('Input.City').capitalize()"
        ></v-select>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <slot name="before-spacer"></slot>
        <v-spacer></v-spacer>
        <slot></slot>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info">
          <v-icon left>mdi-send</v-icon> {{  user.sim_id ? $t('Core.Update') : $t('Core.Create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Profile} from "@/models/services/Security/Profile";

  export default {
    name: "ProfileForm",
    props: {
      user: {
        type: Object,
        default: () => new Profile().data()
      }
    },
    data: () => ({
      menu: false,
      form: new Profile()
    }),
    created: function () {
      this.form = new Profile( this.user )
      if ( this.user.country_id ) {
        this.getCities( this.user.country_id )
      }
    },
    mounted: function() {
      this.getDocumentTypes();
      this.getGenders();
      this.getEthnicities();
      this.getCountries();
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            let form = this.user.sim_id ? this.form.update( this.user.sim_id ) : this.form.store();
              form.then((response) => {
                this.$bus.$emit('onUserProfile', response.details);
                this.notifyOnSuccess( response.data );
              })
              .then(() => this.$validator.reset())
                .then(() => this.$bus.$emit('refreshUsers'))
              .catch((error) => {
                if ( error.message ) {
                  this.notifyOnError( error.message );
                }
              })
          }
        })
      },
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
      user: function (user) {
        this.form = new Profile( user )
      }
    }
  }
</script>

<style scoped>

</style>