<template>
  <v-form @submit.prevent="onSubmit">
    <v-row align="center" justify="center">
      <!-- Document -->
      <v-col cols="12" lg="6" sm="12" class="mx-auto">
        <v-text-field
          v-model="form.document"
          clearable
          v-validate="form.validations.input_document_required"
          prepend-icon="mdi-account-card-details"
          :error-messages="errors.collect( 'document' )"
          :label="$t('Input.Document').capitalize()"
          :counter="form.validations.input_document_required.max"
          :maxlength="form.validations.input_document_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="document"
          id="document"
        />
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <v-spacer></v-spacer>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info"> <v-icon left>mdi-send</v-icon> {{ $t('Core.Submit') }} </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {Profile} from "@/models/services/Security/Profile";

  export default {
    name: "ProfileCheckForm",
    data: () => ({
      form: new Profile()
    }),
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.form.check()
              .then((response) => {
                this.$bus.$emit('onUserProfile', response.data)
              })
              .then(() => this.$validator.reset())
              .catch((error) => {
                if ( this.form.errors.has('document') ) {
                  this.$bus.$emit('onUserProfile', {
                    document_type_id: null,
                    document: this.form.document,
                    lastname: null,
                    second_lastname: null,
                    first_name: null,
                    second_name: null,
                    birthday: null,
                    gender_id: null,
                    ethnicity_id: null,
                    country_id: null,
                    city_id: null
                  });
                }
                if ( error.message ) {
                  this.notifyOnError( error.message );
                }
              })
          }
        })
      }
    }
  }
</script>

<style scoped>

</style>