<template>
  <v-form @submit.prevent="onSubmit">
    <v-row>
      <!-- Name -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.name"
          clearable
          v-validate="form.validations.input_text_required"
          prepend-icon="mdi-account"
          :error-messages="errors.collect( 'name' )"
          :label="$t('Input.Name').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="name"
          id="name"
          required
        />
      </v-col>
      <!-- Email -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.email"
          clearable
          v-validate="form.validations.input_email"
          prepend-icon="mdi-email"
          :error-messages="errors.collect( 'email' )"
          :label="$t('Input.Email').capitalize()"
          :counter="form.validations.input_email.max"
          :maxlength="form.validations.input_email.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="email"
          id="email"
        />
      </v-col>
      <!-- Virtual Record -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.virtual_record"
          clearable
          v-validate="form.validations.input_text"
          prepend-icon="mdi-text"
          :error-messages="errors.collect( 'virtual_record' )"
          :label="$t('Input.VirtualRecord').capitalize()"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="virtual_record"
          id="virtual_record"
        />
      </v-col>
      <!-- Contract -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.contract"
          clearable
          v-validate="form.validations.input_text"
          prepend-icon="mdi-newspaper"
          :error-messages="errors.collect( 'contract' )"
          :label="$t('Input.Contract').capitalize()"
          :counter="form.validations.input_text.max"
          :maxlength="form.validations.input_text.max"
          :loading="isLoading"
          :readonly="isLoading"
          name="contract"
          id="contract"
        />
      </v-col>
      <!-- Start Date -->
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="startDate"
          v-model="modal"
          :return-value.sync="form.contract_initial_date"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.StartDate').capitalize()"
              :loading="isLoading"
              :disabled="isLoading"
              id="contract_initial_date"
              name="contract_initial_date"
              clearable
              v-model="form.contract_initial_date"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.contract_initial_date" :max="moment( form.contract_final_date ).toISOString()" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.startDate.save(form.contract_initial_date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>
      <!-- Final Date -->
      <v-col cols="12" sm="12" lg="6">
        <v-dialog
          ref="endDate"
          v-model="modal2"
          :return-value.sync="form.contract_final_date"
          persistent
          full-width
          width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              :label="$t('Input.FinalDate').capitalize()"
              :loading="isLoading"
              :disabled="isLoading"
              id="final_date"
              name="final_date"
              clearable
              v-model="form.contract_final_date"
              prepend-icon="mdi-calendar"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="form.contract_final_date" :min="moment( form.contract_initial_date ).subtract(1, 'day').toISOString()" scrollable>
            <div class="flex-grow-1"></div>
            <v-btn text color="primary" @click="modal2 = false">Cancel</v-btn>
            <v-btn text color="primary" @click="$refs.endDate.save(form.contract_final_date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-col>
      <!-- Username -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.username"
          clearable
          v-validate="form.validations.input_text_required_unique( form.sim_id )"
          prepend-icon="mdi-textbox"
          :error-messages="errors.collect( 'username' )"
          :label="$t('Input.Username').capitalize()"
          :counter="form.validations.input_text_required.max"
          :maxlength="form.validations.input_text_required.max"
          :loading="isLoading"
          name="username"
          id="username"
          required
        />
      </v-col>
      <!-- Password -->
      <v-col cols="12" lg="6" sm="12">
        <v-text-field
          v-model="form.password"
          v-validate="'required'"
          :error-messages="errors.collect( 'password' )"
          required
          prepend-icon="mdi-lock"
          id="password"
          :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
          name="password"
          :loading="isLoading"
          :readonly="isLoading"
          current-password
          @click:append.prevent="show = !show"
          :label="$t('Input.Password').capitalize()"
          :type="show ? 'text' : 'password'"></v-text-field>
      </v-col>
      <!-- Submit -->
      <v-col cols="12" class="text-right">
        <slot name="before-spacer"></slot>
        <v-spacer></v-spacer>
        <slot></slot>
        <v-btn type="submit" @submit.prevent="onSubmit" :loading="isLoading" :disabled="isLoading" color="info">
          <v-icon left>mdi-send</v-icon> {{  user.sim_id ? $t('Core.Update') : $t('Core.Create') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import {User} from "@/models/services/Security/User";

  export default {
    name: "UsersForm",
    props: {
      user: {
        type: Object,
        default: () => new User().data()
      }
    },
    data: () => ({
      show: false,
      modal: false,
      modal2: false,
      form: new User()
    }),
    created: function () {
      this.form = new User( this.user )
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            let form = this.user.id ? this.form.update( this.user.id ) : this.form.store();
              form.then((response) => {
                this.$bus.$emit('onSuccessSave');
                this.notifyOnSuccess( response.data )
              })
              .then(() => this.$validator.reset())
                .then(() => this.$bus.$emit('refreshUsers'))
              .catch((error) => {
                if ( error.message ) {
                  this.notifyOnError( error.message );
                }
              })
          }
        })
      }
    },
    watch: {
      user: function (user) {
        this.form = new User( user )
      }
    }
  }
</script>

<style scoped>

</style>