<template>

  <svg class="bogota" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 918.24 465.64">
    <title>Bogotá</title>
    <g id="Layer" data-name="Layer">
      <g id="white">
        <path d="M102.39,300.13c0-25.39-20.85-46.11-46.5-46.11H0V401.23H60.8a46,46,0,0,0,34.57-76.88,45,45,0,0,0,7-24.22M37.44,286.07H55.89a14.06,14.06,0,1,1,0,28.12H37.44ZM60.8,369.18H37.44V341H60.8a14.1,14.1,0,1,1,0,28.2"/>
        <path d="M187.48,251.31c-41,0-74.35,34.56-74.35,76.94s33.34,77,74.35,77,74.33-34.48,74.33-77-33.33-76.94-74.33-76.94m0,114c-18.93,0-34.34-16.56-34.34-37s15.41-36.94,34.34-36.94,34.34,16.58,34.34,36.94-15.41,37-34.34,37"/>
        <path d="M353.28,350.92h17.44V359a41.44,41.44,0,0,1-21.92,6.29c-21.71,0-39.37-16.56-39.37-37s17.66-36.94,39.37-36.94a40.49,40.49,0,0,1,27.42,10.48l3.88,3.56,27-29.51-3.86-3.54a80.39,80.39,0,0,0-54.45-21c-43.75,0-79.37,34.56-79.37,76.94s35.62,77,79.37,77a81,81,0,0,0,21.92-3v.3h40V311H353.28Z"/>
        <polygon points="615.97 297.27 615.97 402.56 663.41 402.56 663.41 297.27 708.18 297.27 708.18 252.01 571.01 252.01 571.01 297.27 615.97 297.27"/>
        <polygon points="918.24 465.64 827.46 224.25 745.98 224.25 679.27 402.26 728.68 402.26 786.62 255.81 868.85 465.64 918.24 465.64"/>
        <path d="M559.5,292l-.07-.15c-12.58-24.07-37.19-40.51-65.46-40.51-41,0-74.32,34.56-74.32,76.94s33.32,77,74.32,77,74.34-34.48,74.34-77A78.61,78.61,0,0,0,559.5,292M494,365.27c-18.93,0-34.32-16.56-34.32-37S475,291.31,494,291.31s34.34,16.58,34.34,36.94-15.43,37-34.34,37"/>
        <polygon points="848.23 146.03 892.74 127.81 833.51 106.62 795.59 5.13 756.24 79.87 675.95 63.37 732.61 124.72 704.97 198.99 804.69 163.17 877.46 224.25 848.23 146.03"/>
        <polygon points="682.31 150.03 700.55 138.32 678.73 133.68 672.46 111.93 663.77 130.49 630.71 123.46 656.55 150.12 648.63 171.66 671.86 156.73 689.83 171.27 682.31 150.03"/>
        <polygon points="879.27 39.78 898.32 27.55 875.53 22.71 868.99 0 857.94 18.96 825.4 12.04 852.38 39.87 844.11 62.36 868.36 46.77 887.13 61.95 879.27 39.78"/>
      </g>
    </g>
    </svg>
</template>

<script>
  export default {
    name: "Bogota"
  }
</script>

<style scoped>
  .bogota {
    fill: currentColor
  }
  path {
    stroke: currentColor
  }
  rect {
    stroke: currentColor
  }
  polygon {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 4px;
  }
  circle {
    stroke: currentColor
  }
</style>
