<template>
  <svg class="flip-horizontal" style="width:24px;height:24px" viewBox="0 0 24 24">
    <path d="M15 21H17V19H15M19 9H21V7H19M3 5V19C3 20.1 3.9 21 5 21H9V19H5V5H9V3H5C3.9 3 3 3.9 3 5M19 3V5H21C21 3.9 20.1 3 19 3M11 23H13V1H11M19 17H21V15H19M15 5H17V3H15M19 13H21V11H19M19 21C20.1 21 21 20.1 21 19H19Z" />
  </svg>
</template>

<script>
  export default {
    name: "FlipHorizontal"
  }
</script>

<style scoped>
  .flip-horizontal {
    fill: currentColor
  }
  path {
    stroke: currentColor
  }
  rect {
    stroke: currentColor
  }
  polygon {
    fill: none;
    stroke: currentColor;
    stroke-width: 4px;
  }
  circle {
    stroke: currentColor
  }
</style>